@model TimeSheet.Models.TimeSheetViewModel
@{ViewBag.Title = "ManageTimeSheet";}

<link href="~/Styles/FullCalender/Codepen/demo-to-code-pen.css" rel="stylesheet" />

<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <link href="~/Scripts/bootstrap-multiselect.css" rel="stylesheet" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link href="~/Scripts/FullCalender/core/main.css" rel="stylesheet" />
    <link href="~/Styles/FullCalender/timeline/main.min.css" rel="stylesheet" />
    <link href="~/Styles/FullCalender/resource-timeline/main.min.css" rel="stylesheet" />
    <script src="~/Scripts/FullCalender/demo-to-code-pen/demo-to-code-pen.js"></script>
    <script src="~/Scripts/FullCalender/core/main.js"></script>
    <script src="~/Scripts/FullCalender/timeline/src/main.min.js"></script>
    <script src="~/Scripts/FullCalender/resource-common/src/main.min.js"></script>
    <script src="~/Scripts/FullCalender/resource-timeline/main.min.js"></script>
    <script src="~/Scripts/FullCalender/interaction/main.js"></script>
    <link href="~/Styles/FullCalender/qtip/qtip.css" rel="stylesheet" />
    <script src="~/Scripts/FullCalender/qtip/qtip.js"></script>
    <script src="~/Scripts/FullCalender/popper.min.js"></script>
    <script src="~/Scripts/FullCalender/tooltip.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>


</head>
<body>
    <div class="container" style="width:1800px; margin-bottom:700px">
        @*<div class="row" style="vertical-align:baseline;padding-top:10PX;margin-left:250px;">*@
        <div class="pull-left">
            <div class="row" style="vertical-align:baseline;padding-top:100PX;margin-left:70px;">
                <div class="form-group col-md-1" style="width:20%">
                    @Html.DropDownListFor(model => model.ProjectID, Model.Projectlist, "PROJECTS", new { @class = "form-control project", @id = "ddlProjectId" })
                </div>
                <div class="form-group col-md-1" style="width:22%">
                    @Html.DropDownListFor(model => model.OpportunityID, new SelectList(Enumerable.Empty<SelectListItem>()), "OPPORTUNITY", new { @class = "form-control .OpportunityNumberID", @id = "OpportunityID" })
                </div>
                <div class="form-group col-md-2" style="width:20%">
                    @Html.DropDownListFor(model => model.WarehouseID, Model.WarehouseNameList, "FACILITIES", new { @class = "form-control", id = "ddlWarehouseId" })
                </div>
                <div class="form-group col-md-3">

                    @Html.DropDownListFor(model => Model.ResourceIDs, Model.CandidateNameList, new { @id = "CandidateNameIdStatic", @style = "height:10px; width:10px;", @multiple = "multiple" })

                    @Html.HiddenFor(model => model.ResourceID)
                    <input class="hidden" type="text" id="hdnJsonString" value="@Model.jsonResources" />
                    <input class="hidden" type="text" id="hdnJsonEvents" value="@Model.jsonEvents" />
                </div>
                <div class="form-group col-md-1">
                    <button type="submit" value="Search" class="btn btn-warning" name="submitButton" style="border-color:lightgray;height:26px;margin-left:50px" OnClick="SearchAndRenderCalendar();">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>

                </div>
            </div>
            <div id='calendar-room' style="margin-left:20px;">
                <div id='calendar'></div>
            </div>

        </div>

    </div>
    <div id="main">

    </div>
    @*</div>*@
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:lightgray">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                </div>
                <div class="modal-body">
                    <p id="pDetails"></p>
                </div>
                <div class="modal-footer" style="background-color:lightgray;height:20%; padding:2px 2px;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-default">Update</button>*@
                </div>

            </div>
        </div>
    </div>
    <div id='resourceModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='resourceModalContent'></div>
            </div>
        </div>
    </div>
    <div id="spinner" style="display:none;">
        <img src="~/Images/ajax-loader.gif" />
    </div>
</body>

<script>
    $('#CandidateNameIdStatic').multiselect({
        includeSelectAllOption: true,
        maxHeight: 250,
        buttonWidth: '180px',
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true
    });
    RenderCalendarStart();
    var calendar;
    var datacontent = "";
    function RenderCalendarStart() {
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var res = $("#hdnJsonString").val();
            var events = $("#hdnJsonEvents").val();
            var sliderURL = '@Url.Action("ResourceRegister", "Resource")'
              var updateTimeURL = '@Url.Action("UpdateTime", "ResourceTimeline")'
            var options = { "backdrop": "static", keyboard: true };
            var obj = null;
            calendar = new FullCalendar.Calendar(calendarEl, {
                schedulerLicenseKey: '0286417881-fcs-1567383525',
                plugins: ['interaction', 'resourceTimeline'],
                //timeZone: 'Australia/Sydney',
                defaultView: 'resourceTimelineDay',
                aspectRatio: 2.0,
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'resourceTimelineDay,resourceTimelineWeek,resourceTimelineMonth'
                },
                eventRender: function (info, event, element) {
                    var tooltip = new Tooltip(info.el, {
                        title: 'test',
                        placement: 'top',
                        trigger: 'hover',

                    });
                },
                selectable: true,

                select: function (start) {
                    $.ajax({
                        type: "GET",
                        url: sliderURL,
                        data: { "Day": start.startStr },
                        beforeSend: function () {
                            obj = $.alert({
                                boxWidth: '50px',
                                useBootstrap: false,
                                title: '',
                                content: $("#spinner").html(),
                                buttons: {
                                    yes: { isHidden: true }
                                }
                            })
                        },
                        success: function (data) {
                           
                            $.confirm({
                                boxWidth: '600px',
                                useBootstrap: false,
                                title: 'Book Resource',
                                content: data,
                                closeIcon: true,
                              
                                buttons: {
                                    yes: {isHidden:true}
                                }
                            });
                            $("#spinner").hide();
                            obj.close();
                        }
                        });
                
                
                },

                eventClick: function (calEvent, jsEvent, view) {


                    $('#myModal #eventTitle').text(calEvent.event.getResources()[0].extendedProps.ResourceName);
                    var $description = $('<div/>');
                    $description.append($('<p/>').html('<b>Project Manager:</b>' + calEvent.event.extendedProps.projectmanager));
                    $description.append($('<p/>').html('<b>Start:</b>' + moment(calEvent.event.start).format('lll')));

                    $description.append($('<p/>').html('<b>End:</b>' + moment(calEvent.event.end).format('lll')));

                    $description.append($('<p/>').html('<b>Description:</b>' + calEvent.event.extendedProps.activitydescription));
                    $description.append($('<p/>').html('<b>Job:</b>' + calEvent.event.extendedProps.JobId));
                    $('#myModal #pDetails').empty().html($description);

                    $('#myModal').modal();

                },
                resourceAreaWidth: '150px',
                resourceLabelText: 'RESOURCES',
                resources: JSON.parse(res),
                events: JSON.parse(events),
                //event.setExtendedProp( 'test', 'tester')

            });

            calendar.render();
            calendar.setOption('height', 700);
           calendar.setOption('aspectRatio', 2.0);
        });
       
    }
    function openAddEditForm() {

        alert('test');
            }

    function RenderCalendar(resources,events) {
        //document.addEventListener('DOMContentLoaded', function () {
        //$('#calender').destroy();
        var sliderURL = '@Url.Action("ResourceRegister", "Resource")'
         var updateTimeURL = '@Url.Action("UpdateTime", "ResourceTimeline")'
       // FullCalendar.Calendar('destroy');
            var calendarEl = document.getElementById('calendar');
            //var res = $("#hdnJsonString").val();
            //var events = $("#hdnJsonEvents").val();
            //alert(res);
        var obj = null;
        calendar.destroy();
        calendar = new FullCalendar.Calendar(calendarEl, {
                schedulerLicenseKey: '0286417881-fcs-1567383525',
                plugins: ['interaction', 'resourceTimeline'],
                //timeZone: 'Australia/Sydney',
                defaultView: 'resourceTimelineDay',
                aspectRatio: 2.0,
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'resourceTimelineDay,resourceTimelineWeek,resourceTimelineMonth'
            },
                   eventRender: function (info,event, element) {
                                var tooltip = new Tooltip(info.el, {
                  title: 'test',
                  placement: 'bottom',
                  trigger: 'hover',

                });
            },
            selectable: true,
            select: function (start) {
                $.ajax({
                    type: "GET",
                    url: sliderURL,
                    data: { "Day": start.startStr },
                    beforeSend: function () {
                        obj = $.alert({
                            boxWidth: '50px',
                            useBootstrap: false,
                            title: '',
                            content: $("#spinner").html(),
                            buttons: {
                                yes: { isHidden: true }
                            }
                        })
                    },
                    success: function (data) {

                        $.confirm({
                            boxWidth: '600px',
                            useBootstrap: false,
                            title: 'Book Resource',
                            content: data,
                            closeIcon: true,
                            
                            buttons: {
                                yes: { isHidden: true }
                            }
                        });
                        $("#spinner").hide();
                        obj.close();
                    }
                });


            },
            eventClick: function (calEvent, jsEvent, view) {


                $('#myModal #eventTitle').text(calEvent.event.getResources()[0].extendedProps.ResourceName);
                var $description = $('<div/>');
                $description.append($('<p/>').html('<b>Project Manager:</b>' + calEvent.event.extendedProps.projectmanager));
                $description.append($('<p/>').html('<b>Start:</b>' + moment(calEvent.event.start).format('lll')));

                $description.append($('<p/>').html('<b>End:</b>' + moment(calEvent.event.end).format('lll')));

                $description.append($('<p/>').html('<b>Description:</b>' + calEvent.event.extendedProps.activitydescription));
                $description.append($('<p/>').html('<b>Job:</b>' + calEvent.event.extendedProps.JobId));
                $('#myModal #pDetails').empty().html($description);

                $('#myModal').modal();

            },

                resourceLabelText: 'RESOURCES',
                 resourceAreaWidth: '150px',
                resources:  JSON.parse(resources),
                events:  JSON.parse(events)
            });

        calendar.render();
        calendar.setOption('height', 700);
       calendar.setOption('aspectRatio', 2.0);
        //});
    }

    $('#ddlWarehouseId').change(function () {

                 var warehouseUrl = '';

                 var WarehouseResource = $('#CandidateNameIdStatic');
                 var id = $(this).val();
                 if (id != "") {
                     warehouseUrl = '@Url.Action("WarehouseResource", "DropDownLoader")';

                 }
                 else {
                         warehouseUrl = '@Url.Action("Register", "Resource")';
                 }
                    $.getJSON(warehouseUrl, { WarehouseID: id }, function (response) {
                        $('#CandidateNameIdStatic').empty().multiselect('refresh')
                            $.each(response, function (index, item) {
                                $('#CandidateNameIdStatic').append($('<option></option>').text(item.Value).val(item.Id));

                            });

                        $('#CandidateNameIdStatic').multiselect('rebuild');
                       });
         });

    $('#ddlProjectId').change(function () {
    var loadUrl = '@Url.Action("ProjectOpportunities", "ManageCalender")';
            var loads = $('#OpportunityID');
            var id = $(this).val();

            $.getJSON(loadUrl, { projectid: id }, function (response) {

    loads.empty(); // remove any existing options
                loads.append($('<option></option>').text("OPPORTUNITY").val(0));

                $.each(response, function (index, item) {

    loads.append($('<option></option>').text(item.Value).val(item.Id));
                });

            });

        });

    $('#ddlRegOpportunityNumberID').change(function () {

var ActivityUrl = '@Url.Action("ProjectActivities", "ManageCalender")';
var Activities = $('#ActivityId');
var id = $(this).val();

$.getJSON(ActivityUrl, { OpportunityId: id }, function (response) {
Activities.empty();
Activities.append($('<option></option>').text("Select Activity").val(0));
$.each(response, function (index, item) {
Activities.append($('<option></option>').text(item.Value).val(item.Id));
        });
    });
});

    function SearchAndRenderCalendar() {
        resources = [];
        events = [];
       var loadUrl =  '@Url.Action("SearchResources", "ManageCalender")';

                $.ajax({
                    type: "POST",
                    url: loadUrl,

                    data: { 'ProjectId': $('#ddlProjectId').val(), 'warehouseId': $('#ddlWarehouseId').val(), 'opportunityId': $('#OpportunityID').val(), 'ResourceIds': $('#CandidateNameIdStatic').val() },
                    success: function (data) {
                        //$.each(data.CandidateTimeSheetList, function (i, v) {
                        //  //  alert(v.StartTime);
                        //     //   alert(v.CandidateName);
                        //    events.push({
                        //        resourceId: v.ResourceID,
                        //        title: v.Activity,
                        //        start:v.StartTime,
                        //        end: v.EndTime

                        //    });
                        //    resources.push({
                        //        id: v.ResourceID,
                        //        title: v.CandidateName,
                        //        eventColor: v.Colour
                        //    });
                        //})
                        RenderCalendar(data.jsonResources,data.jsonEvents);
                    },
                    error: function (error) {
                        alert('search failed');
                    }
                })
            }

</script>


<style>
    #calendar {
        max-width: 1800px;
        margin: 20px auto;
    }

    .multiselect.dropdown-toggle {
        text-align: left;
    }

    #calendar-room {
        position: fixed;
        left: 0;
        right: 0;
    }

    .fc-widget-content {
        width: 50px;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .form-group {
        padding-right: 1px;
        padding-left: 1px;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .multiselect.dropdown-toggle {
        text-align: left;
        height: 26px;
        width: 80%;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 26px;
        padding: 2px 2px;
        font-size: 12px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
    }

    .fc-event {
        font-size: 1.50em;
        line-height: 3.0;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }


    .calendar-room {
        overflow-x: scroll;
        overflow-y: scroll;
    }
    .fc-view-container {
        width: auto;
    }

        .fc-view-container .fc-view {
            overflow-x: scroll;
            overflow-y: scroll;
        }

          

</style>