@model  TimeSheet.Models.CompletedTimesheetModel
<div>
    <div class="modal-header" style="background-color:lightgray;width:1228px">
        <h5 class="modal-title text-center" style="font-weight: bold">Resource Details</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div style="align-content:center;padding-top:15px;padding-bottom:40px;padding-left:20px;width:1200px">
        <table id="tblCustomers" class="table-bordered table-responsive-md text-center table-hover table-scroll" style="align-content:center;padding-top:15px;padding-bottom:10px;width:1200px">
            <thead style="background-color:#FFA500;color:white">
                <tr>
                    <th>Id</th>
                    <th>Resource</th>
                    <th>Project</th>
                    <th>Activity</th>
                    <th style="width:50px">StartDate </th>
                    <th>StartTime</th>
                    <th style="width:50px">EndTime </th>                    
                    <th>TotalHrs</th>
                    <th>Break</th>
                    <th>WorkedHrs</th>
                    <th>Status</th>
                    <th style="width:10px">Comments</th>
                    @*<th style="width:10px"></th>*@
                    <th style="width:10px"></th>
                </tr>
            </thead>
            <tbody class="table">
                @foreach (var item in Model.CompletedTimeSheetList)
                {
                <tr>
                    <td class="Id" id="activityId"> <span>@item.Id</span> </td>
                    <td class="CandidateName">
                        <span id="txtCandidateName">@item.CandidateName</span>
                    </td>
                    <td class="Project">
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td class="Activity">
                        @Html.DisplayFor(modelItem => item.Activity)
                    </td>

                    <td class="Day" width="7%">
                        <span>@item.Day.Value.ToShortDateString()</span>
                        @*@Html.TextBoxFor(model => item.Day, "{0:yyyy-MM-dd}", new { @type = "date", @style = "display:none" })*@
                    </td>
                    <td class="StartTime">
                        <span>@item.StartTime.Value.ToShortTimeString()</span>
                        <input type="time" id="startTime" value="@item.StartTime.Value.ToString("HH:mm")" style="display:none" />
                    </td>
                    <td class="EndTime" width="8%">
                        <span>@item.EndTime.Value.ToShortTimeString()</span>
                        <input type="time" id="endTime" value="@item.EndTime.Value.ToString("HH:mm")" style="display:none" />
                    </td>
                    <td>
                        <span style="width:2px">@item.TotalHours</span>
                    </td>
                    <td>
                        <span style="width:2px">@item.BreakHours</span>
                        <input type="text" id="breakHours" value="@item.BreakHours" style="display:none;width:30px" />
                    </td>
                    <td>
                        <span style="width:2px">@item.TotalWorkedHours</span>

                    </td>
                    <td class="Status">
                        <span text="Status" span />
                        @Html.DropDownListFor(model => item.StatusID, Model.StatusList, "Select Status", new { @id = "ddlStatus" })
                        <input class="hidden" type="text" id="hdnddlLidt" value="@item.StatusID" />
                        <input id="username" type="hidden" value="@User.Identity.Name" />
                    </td>
                    <td class="TimeSheetComments">
                        <span>@item.TimeSheetComments</span>
                        <input type="text" id="txtComments" value="@item.TimeSheetComments" style="display:none" />
                    </td>
                    <td width="5%">
                        <a class="Edit btn btn-primary a-btn-slide-text" href="javascript:;">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            <span><strong>Edit</strong></span>
                        </a>

                        <a class="Update btn btn-success a-btn-slide-text" href="javascript:;" style="display:none" id="Update">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            <span><strong>Update</strong></span>
                        </a>

                        <a class="Cancel btn btn-danger a-btn-slide-text" href="javascript:;" style="display:none">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            <span><strong>Cancel</strong></span>
                        </a>


                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $('#tblCustomers').dataTable({
      
    });

    $("body").on("click", "#tblCustomers .Update", function () {
       // debugger;
    var row = $(this).closest("tr");
        var theactivityId = row.find("#activityId").text();

        $.ajax({
            url: "./ApprovePaymentIndividual",
            type: "POST",
            data: { activityId: theactivityId},
            dataType: "json",
            traditional: true,
            success: function (data) {
                if (data.Url === "/Projection/Index") {
                    window.location.href = data.Url
                }
                }
        });
        });
    SetDDLValue();
    function SetDDLValue() {
        //alert('before document ready');
        debugger;
        $("tbody tr td.Status").each(function LoopTR() {
            var ratingTdText = $(this);
            if ($(ratingTdText).find("#hdnddlLidt").val() != "") {
                $(ratingTdText).find("#ddlStatus option").each(function (i) {
                    //alert($(ratingTdText).find("#hdnddlLidt").val());
                    if (($(this).val() == $(ratingTdText).find("#hdnddlLidt").val())) {
                        $(this).attr('selected', 'selected')
                    }
                });
            }


        });
    }
    $("#myModal").draggable({
        handle: ".modal-header"
    });
   
    $("body").on("click", "#tblCustomers .Edit", function () {
        debugger;
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                $(this).find("input").show();
                $(this).find("#txtComments").show();
                $(this).find("span").hide();
                $(this).toggleClass('selected');

            }
        });
        row.find(".Update").show();
        row.find(".Cancel").show();


        $(this).hide();
    });

    //Update event handler.
    $("body").on("click", "#tblCustomers .Update", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                var textArea = $(this).find("#txtComments");
                //span.html(input.val());
                span.show();
                input.hide();
                textArea.hide();
                $(this).removeClass('selected');
            }
        });
        row.find(".Edit").show();
        row.find(".Cancel").hide();
      
        $(this).hide();
     
        var CandidateEdit = {};
        var options = { "backdrop": "static", keyboard: true };
        CandidateEdit.Id = row.find(".Id").find("span").html();
        CandidateEdit.ActualQuantity = row.find("#txtActualQuantity").val();
        CandidateEdit.TimeSheetComments = row.find("#txtComments").val();
        CandidateEdit.StartTime = row.find("#startTime").val();
        CandidateEdit.EndTime = row.find("#endTime").val();
        CandidateEdit.Day = row.find(".Day").find("span").html();
        CandidateEdit.StatusID = row.find("#ddlStatus").val();
        CandidateEdit.BreakHours = row.find("#breakHours").val();

        
        

        
        $.ajax({
            type: "POST",
            url: "./UpdateCandidate",
            data: '{CandidateEdit:' + JSON.stringify(CandidateEdit) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json"


        });

        $.ajax({
            type: "GET",
            url: './ApprovedResourceDetails',
            contentType: "application/json; charset=utf-8",
            data: { "CandidateName": row.find("#txtCandidateName").text() },
            datatype: "json",
            success: function (data) {
                // debugger;
                $('#myModalContent').html(data);
                $('#myModal').modal(options);
                $('#myModal').modal('show');
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });
        $('#myModal').on('hidden.bs.modal', function (e) {
            location.reload();
        })

    });

   

    //removes the "active" class to .popup and .popup-content when the "Close" button is clicked
  
    //Cancel event handler.
    $("body").on("click", "#tblCustomers .Cancel", function () {
        var row = $(this).closest("tr");
        //  debugger;
        $("td", row).each(function () {
            if ($(this).find("input").length > 0 || $(this).find("#txtComments").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                $(this).removeClass('selected');
    
                // input.val(span.html());
                span.show();
                input.hide();
         
            }
        });
        row.find(".Edit").show();
        row.find(".Update").hide();
        row.find("#Rate").hide();
        $(this).hide();
    });

</script>

<style>
    .modal-dialog {
        width: 1250px;
        margin: 30px auto;
        margin-bottom: 10px;
    }

    .table-hover > tbody > tr:hover > td,
    .table-hover > tbody > tr:hover > th {
        background-color: lightgray;
    }

    .selected {
        color: black;
        background-color: lightgray;
    }

    .btn {
        font-size: 10px;
    }

    table tr.active {
        background: red;
    }

    a.btn {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.6);
        -o-transform: scale(0.6);
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
    }
</style>