@model  IEnumerable<TimeSheet.Models.CompletedTimesheetModel>
@{
    ViewBag.Title = "WeeklyReport";
}

<h2>WeeklyReport</h2>

<div style="align-content:center;padding-top:15px;padding-bottom:40px;padding-left:20px;width:1200px">
    <table id="tblCustomers" class="table-bordered table-responsive-md text-center table-hover table-scroll" style="align-content:center;padding-top:15px;padding-bottom:10px;width:1200px">
        <thead style="background-color:#FFA500;color:white">
            <tr>
                <th>Id</th>
                <th>CandidateName</th>
                <th>Project</th>
                <th>Activity</th>
                <th style="width:50px">StartDate </th>
                <th>StartTime</th>
                <th style="width:50px">EndTime </th>
                <th style="width:10px">OLA</th>
                <th style="width:10px">Actual</th>
                <th style="width:10px">Comments</th>
                <th style="width:10px"></th>
            </tr>
        </thead>
        <tbody class="table">
            @foreach (var item in Model)
            {
            <tr>
                <td class="Id" id="activityId"> <span>@item.Id</span> </td>
                <td class="CandidateName">
                    <span id="txtCandidateName">@item.CandidateName</span>
                </td>
                <td class="Project">
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td class="Activity">
                    @Html.DisplayFor(modelItem => item.Activity)
                </td>

                <td class="Day" width="7%">
                    <span>@item.Day.Value.ToShortDateString()</span>
                    @Html.TextBoxFor(model => item.Day, "{0:yyyy-MM-dd}", new { @type = "date", @style = "display:none" })

                </td>
                <td class="StartTime">
                    <span>@item.StartTime.Value.ToShortTimeString()</span>
                    <input type="time" id="startTime" value="@item.StartTime.Value.ToString("HH:mm")" style="display:none" />
                </td>


                <td class="EndTime" width="8%">
                    <span>@item.EndTime.Value.ToShortTimeString()</span>
                    <input type="time" id="endTime" value="@item.EndTime.Value.ToString("HH:mm")" style="display:none" />
                </td>

                <td class="OLATarget">
                    @Html.DisplayFor(modelItem => item.OLATarget)
                </td>
                <td class="ActualQuantity">
                    <span style="width:2px">@item.ActualQuantity</span>
                    <input type="text" id="txtActualQuantity" value="@item.ActualQuantity" style="display:none;width:30px" />
                </td>
                <td class="TimeSheetComments">
                    <span>@item.TimeSheetComments</span>
                    <input type="text" id="txtComments" value="@item.TimeSheetComments" style="display:none" />
                </td>
                <td class="TimeSheetComments">
                    <span>@item.Status</span>
                    <input type="text" id="txtComments" value="@item.Status" style="display:none" />
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>