@using TimeSheet.ServiceHelper
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Verser Technology LifeCycles</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse fixed-top" style="margin-left:0px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    @*<span class="icon-bar"></span>*@
                </button>
                <div id="LogoImage" style="text-align:left">
                    <img src="~/Images/Verser.png" style="height:43px; width:220px ;vertical-align:top;margin-right:2px; background-color:#D3D3D3" />
                </div>
            </div>
            <script src="~/Scripts/respond.js"></script>
           
            <div class="navbar-collapse collapse" style="font-size:smaller">
                @if (@Session["Username"] != null)
                {
                    <ul class="nav navbar-nav">
                        @*@Html.ActionLink("TIME SCHEDULER", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="@Url.Action("Index", "Home")">BOOKINGS</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("BOOK RESOURCE", "Register", "Resource")</li>
                                <li>@Html.ActionLink("CURRENT BOOKINGS", "Index", "Home")</li>
                                <li>@Html.ActionLink("COMPLETED BOOKINGS", "Index", "CompletedBooking")</li>
                                <li>@Html.ActionLink("APPROVED BOOKINGS", "Index", "ApprovedBooking")</li>
                                <li>@Html.ActionLink("PM BOOKINGS", "Index", "ProjectManager")</li>
                                @if (UserRoles.HRUser() != false)
                                {
                                    <li>@Html.ActionLink("RECRUITMENT BOOKINGS", "Index", "HR")</li>
                                }
                                <li>@Html.ActionLink("REJECTED BOOKINGS", "RejectedBooking", "RejectedBooking")</li>
                                <li>@Html.ActionLink("ALL BOOKING", "AllBookingEntries", "Home")</li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">CALENDAR AND TIMELINE</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("RESOURCE CALENDAR", "Index", "ManageCalender")</li>
                                <li>@Html.ActionLink("RESOURCE TIMELINE", "Index", "ResourceTimeline")</li>
                                <li>@Html.ActionLink("VEHICLE TIMELINE", "VehicleTimeline", "ResourceTimeline")</li>
                                <li>@Html.ActionLink("PM TIMELINE", "PMTimeline", "ResourceTimeline")</li>
                            </ul>
                        </li>
                        @*<li>@Html.ActionLink("BOOK RESOURCE", "Register", "Resource")</li>*@
                        @if (UserRoles.UserCanRegisterPMTimesheet())
                        {
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="@Url.Action("Index", "Projection")">PROJECTION</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("PROJECTION", "Index", "Projection")</li>
                                    <li>@Html.ActionLink("TIMESHEET APPROVAL", "ApproveProjectTimesheet", "Projection")</li>
                                    <li>@Html.ActionLink("PROFIT AND LOSS", "Index", "ProfitLoss")</li>
                                    @*<li>@Html.ActionLink("RESOURCE DETAILS", "Index", "Resource")</li>*@
                                </ul>
                            </li>
                        }
                        @if (UserRoles.SiteAdmin())
                        {
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">FINANCE</a>
                                <ul class="dropdown-menu">
                                    <li data-toggle="tooltip" data-placement="bottom" title="Unpaid Timesheet Report">@Html.ActionLink("UNPAID", "WeeklyReport", "Finanace")</li>
                                    <li data-toggle="tooltip" data-placement="bottom" title="Approved Overtime Timesheet Report">@Html.ActionLink("OVERTIME", "OvertimeReport", "Finanace")</li>
                                    <li data-toggle="tooltip" data-placement="bottom" title="Paid Timesheet Report">@Html.ActionLink("PAID", "monthlyReport", "Finanace")</li>

                                </ul>
                            </li>
                            <li>@Html.ActionLink("ADMINISTRATION", "Index", "Admin")</li>
                        }
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">REPORTS</a>
                            <ul class="dropdown-menu">

                                <li><a href="http://dc-sqldev/Reports/Pages/Report.aspx?ItemPath=%2fJMS+Reports%2fCandidateTimesheetReport" target="_blank">TIMESHEET REPORT</a></li>
                                <li><a href="https://app.powerbi.com/view?r=eyJrIjoiYWJkNGM5NmItNTRhZS00MDAwLTk0ZWYtZjRiOTU3OTNiZGY5IiwidCI6IjI0Y2IwYjA4LWI1OTEtNDE2NC05MTc0LThlMTI5MzlkNDA0NSJ9" target="_blank">TIMESHEET BI</a></li>

                                @*<li><a href="https://app.powerbi.com/view?r=eyJrIjoiM2Y1YzRlMTMtZmY4YS00MmRkLWIwZGEtZTEwYWU3YzU4YjliIiwidCI6IjI0Y2IwYjA4LWI1OTEtNDE2NC05MTc0LThlMTI5MzlkNDA0NSJ9" target="_blank">RESOURCE Available</a></li>*@
                                <li><a href="https://app.powerbi.com/view?r=eyJrIjoiMjU1ODJiMTAtNDNiZS00OGRiLThmNWQtNTk1YjNiZjI1MDhmIiwidCI6IjI0Y2IwYjA4LWI1OTEtNDE2NC05MTc0LThlMTI5MzlkNDA0NSJ9" target="_blank">PROJECTION</a></li>
                                <li>
                                    <a href="https://app.powerbi.com/view?r=eyJrIjoiYjg2Njc5YmQtMzA0Zi00NmI5LWIyNzAtMjQ5YjlmMzBlZGVhIiwidCI6IjI0Y2IwYjA4LWI1OTEtNDE2NC05MTc0LThlMTI5MzlkNDA0NSJ9
" target="_blank">ON GOING PROJECTION</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav" @*style="float:right"*@>
                        <li>@Html.ActionLink("LOGOUT", "Logout", "Login")</li>
                    </ul>
                }
                @if (@Session["Username"] == null)
                {
                    <ul>
                        <li class="nav navbar-nav" style="float:right">@Html.ActionLink("Login", "Login", "Login")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    @*container-fluid body-content*@

    <div class="container body-content">
        @if (HttpContext.Current.Session["ResultMessage"] != null)
        {
            <div class="alert alert-success text-center  alert-dismissible" role="alert" style="margin-left:0px">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @HttpContext.Current.Session["ResultMessage"]
            </div>
            HttpContext.Current.Session["ResultMessage"] = null;
        }
        @if (HttpContext.Current.Session["InfoMessage"] != null)
        {
            <div class="alert alert-info text-center  alert-dismissible" role="alert" style="margin-left:0px">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @HttpContext.Current.Session["InfoMessage"]
            </div>
            HttpContext.Current.Session["InfoMessage"] = null;
        }
        @if (HttpContext.Current.Session["ErrorMessage"] != null)
        {
            <div class="alert alert-danger text-center  alert-dismissible" role="alert" style="margin-left:0px">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @HttpContext.Current.Session["ErrorMessage"]
            </div>
            HttpContext.Current.Session["ErrorMessage"] = null;
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Verser TIME SCHEDULER</p>
        </footer>
    </div>

    @*  Calender Scripts
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    *@
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@

    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<style>

    #navbar {
        overflow: hidden;
        background-color: #f1f1f1;
        padding: 90px 10px;
        transition: 0.4s;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99;
    }

    .body {
        padding-top: 0px;
        width: 100%;
    }

    .navbar-inverse {
        background-color: #e2e2e2 !important;
        border-color: #D3D3D3 !important;
    }

        .navbar-inverse .navbar-nav > li > a {
            color: #959ca1;
            font-family: sans-serif;
            font-weight: 600;
        }

            .navbar-inverse .navbar-nav > li > a:hover {
                color: #f79636;
            }

    a {
        color: #959ca1;
    }

    .navbar, .navbar div {
        min-height: 40px;
        max-height: 60px;
        height: 50px;
        margin-left: 60px;
    }

    .fixed-top {
        min-height: 40px;
        max-height: 60px;
        height: 50px;
        margin-left: 60px;
        margin-top: 0px;
    }
    /* Additional styles to style some of your child elements */
    .navbar-brand {
        padding: 10px;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar-nav .dropdown-menu, .nav .navbar-nav .dropdown-toggle {
        margin-top: 0;
    }

    .dropdown-menu > li > a:hover {
        background-color: #FFA500;
    }

    .navbar .navbar-toggle {
        padding: 4px 10px;
    }

    .tooltip-inner {
        /*max-width: 350px;*/
        height: 20px;
        /* If max-width does not work, try using width instead */
        width: 250px;
    }
</style>

