<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Verser Technology LifeCycles</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body >
    <div class="navbar navbar-inverse navbar-fixed-top" style="margin-left:0px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="LogoImage" style="text-align:left">
                    <img src="~/Images/Verser.png" style="height:43px; width:220px ;vertical-align:top; background-color:#D3D3D3" />

                </div>
            </div>
            <script src="~/Scripts/respond.js"></script>
            <div class="navbar-collapse collapse" style="font-size:smaller">
                @if (@Session["Username"] != null)
                {
                <ul class="nav navbar-nav">
                    @*@Html.ActionLink("TIME SCHEDULER", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                    <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                    <li>@Html.ActionLink("CALENDAR", "Index", "ManageCalender")</li>
                    <li>@Html.ActionLink("BOOK RESOURCE", "Register", "Resource")</li>
                    <li>@Html.ActionLink("PROJECTION", "Index", "Projection")</li>
                    <li>@Html.ActionLink("AVAILABLE RESOURCE", "Index", "Resource")</li>
                    <li>@Html.ActionLink("ADMINISTRATION", "Index", "Admin")</li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">REPORTS</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://app.powerbi.com/view?r=eyJrIjoiYWJkNGM5NmItNTRhZS00MDAwLTk0ZWYtZjRiOTU3OTNiZGY5IiwidCI6IjI0Y2IwYjA4LWI1OTEtNDE2NC05MTc0LThlMTI5MzlkNDA0NSJ9" target="_blank">TimeSheet</a></li>

                            <li><a href="https://app.powerbi.com/view?r=eyJrIjoiZGM2OGY3NTktMGFhMi00MzU0LThlZmEtMzIxNmM5MWI3ZGRhIiwidCI6IjI0Y2IwYjA4LWI1OTEtNDE2NC05MTc0LThlMTI5MzlkNDA0NSJ9" target="_blank">Schedule</a></li>

                        </ul>
                    </li>

                    <li>

                    </li>
                </ul>

                    <ul class="nav navbar-nav" @*style="float:right"*@>
                        <li>@Html.ActionLink("LOGOUT", "Logout", "Login")</li>
                    </ul>
                }
                @if (@Session["Username"] == null)
                {
                    <ul>
                        <li class="nav navbar-nav" style="float:right">@Html.ActionLink("Login", "Login", "Login")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    @*container-fluid body-content*@

    <div class="container body-content" >
        @if (HttpContext.Current.Session["ResultMessage"] != null)
        {
            <div class="alert alert-info text-center  alert-dismissible" role="alert" style="width:50%;align-content:center;margin-left:100px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @HttpContext.Current.Session["ResultMessage"]
            </div>
            HttpContext.Current.Session["ResultMessage"] = null;
        }

        @if (HttpContext.Current.Session["ErrorMessage"] != null)
        {
            <div class="alert alert-danger text-center  alert-dismissible" role="alert" style="width:50%">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @HttpContext.Current.Session["ErrorMessage"]
            </div>
            HttpContext.Current.Session["ErrorMessage"] = null;
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Verser TIME SCHEDULER</p>
        </footer>
    </div>

    @*  Calender Scripts
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    *@

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>

    .navbar-inverse {
        background-color: #e2e2e2 !important;
        border-color: #D3D3D3 !important;
    }

        .navbar-inverse .navbar-nav > li > a {
            color: #959ca1;
            font-family: sans-serif;
            font-weight: 600;
        }

            .navbar-inverse .navbar-nav > li > a:hover {
                color: #f79636;
            }

    a {
        color: #959ca1;
    }

    .navbar, .navbar div {
        min-height: 40px;
        max-height: 60px;
        height: 50px;
        margin-left: 60px;
    }
    /* Additional styles to style some of your child elements */
    .navbar-brand {
        padding: 10px;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar-nav .dropdown-menu, .nav .navbar-nav .dropdown-toggle {
        margin-top: 0;
    }

    .dropdown-menu > li > a:hover {
        background-color: #FFA500;
    }

    .navbar .navbar-toggle {
        padding: 4px 10px;
    }
</style>
