@using TimeSheet.ServiceHelper
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Verser Technology LifeCycles</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top" style="background-color:black; padding:0 10px; height:50px; border:none">
        <div class="navbar-header" align="center" style="height:50px;vertical-align:middle">
            <div id="LogoImage" style="float:left">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Images/Verser.jpg" style="height:50px; width:140px;" />
                </a>
            </div>
        </div>
        <script src="~/Scripts/respond.js"></script>

        <div class="navbar-collapse collapse pull-left">

            @if (@Session["Username"] != null)
            {
                <ul class="nav navbar-nav">
                    @*@Html.ActionLink("TIME SCHEDULER", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                    <li class="dropdown" id="dropmenu">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="@Url.Action("Index", "Home")" style="color:white; font-weight:600">BOOKINGS</a>
                        <ul class="dropdown-menu" style="background-color:white !important">
                            <li><a href="@Url.Action("Register", "Resource")" style="padding-top:8px; padding-bottom:8px">BOOK RESOURCE</a></li>
                            <li><a href="@Url.Action("Index", "Home")" style="padding-top:8px; padding-bottom:8px">CURRENT BOOKINGS</a></li>
                            <li><a href="@Url.Action("Index", "CompletedBooking")" style="padding-top:8px; padding-bottom:8px">COMPLETED BOOKINGS</a></li>
                            <li><a href="@Url.Action("Index", "ApprovedBooking")" style="padding-top:8px; padding-bottom:8px">APPROVED BOOKINGS</a></li>
                            <li><a href="@Url.Action("Index", "ProjectManager")" style="padding-top:8px; padding-bottom:8px">PM BOOKINGS</a></li>
                            @if (UserRoles.HRUser() != false)
                            {
                                <li><a href="@Url.Action("Index", "HR")" style="padding-top:8px; padding-bottom:8px">RECRUITMENT BOOKINGS</a></li>
                            }
                            <li><a href="@Url.Action("RejectedBooking", "RejectedBooking")" style="padding-top:8px; padding-bottom:8px">REJECTED BOOKINGS</a></li>
                            <li><a href="@Url.Action("AllBookingEntries", "Home")" style="padding-top:8px; padding-bottom:8px">ALL BOOKING</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" id="dropmenu">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#" style="color:white; font-weight:600">CALENDAR AND TIMELINE</a>
                        <ul class="dropdown-menu" style="background-color:white !important">
                            <li><a href="@Url.Action("Index", "ManageCalender")" style="padding-top:8px; padding-bottom:8px">RESOURCE CALENDAR</a></li>
                            <li><a href="@Url.Action("Index", "ResourceTimeline")" style="padding-top:8px; padding-bottom:8px">RESOURCE TIMELINE</a></li>
                            <li><a href="@Url.Action("VehicleTimeline", "ResourceTimeline")" style="padding-top:8px; padding-bottom:8px">VEHICLE TIMELINE</a></li>
                            <li><a href="@Url.Action("PMTimeline", "ResourceTimeline")" style="padding-top:8px; padding-bottom:8px">PM TIMELINE</a></li>
                        </ul>
                    </li>
                    @*<li>@Html.ActionLink("BOOK RESOURCE", "Register", "Resource")</li>*@
                    @if (UserRoles.UserCanRegisterPMTimesheet())
                    {
                        <li class="dropdown" id="dropmenu">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="@Url.Action("Index", "Projection")" style="color:white; font-weight:600">PROJECTION</a>
                            <ul class="dropdown-menu" style="background-color:white !important">
                                <li><a href="@Url.Action("Index", "Projection")" style="padding-top:8px; padding-bottom:8px">PROJECTION</a></li>
                                <li><a href="@Url.Action("ApproveProjectTimesheet", "Projection")" style="padding-top:8px; padding-bottom:8px">TIMESHEET APPROVAL</a></li>
                                <li><a href="@Url.Action("Index", "Projection")" style="padding-top:8px; padding-bottom:8px">PROFIT AND LOSS</a></li>
                                @*<li>@Html.ActionLink("RESOURCE DETAILS", "Index", "Resource")</li>*@
                            </ul>
                        </li>
                    }
                    @if (UserRoles.SiteAdmin())
                    {
                        <li class="dropdown" id="dropmenu">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" style="color:white; font-weight:600">FINANCE</a>
                            <ul class="dropdown-menu" style="background-color:white !important">
                                <li data-toggle="tooltip" data-placement="bottom" title="Unpaid Timesheet Report"><a href="@Url.Action("WeeklyReport", "Finanace")" style="padding-top:8px; padding-bottom:8px">UNPAID</a></li>
                                <li data-toggle="tooltip" data-placement="bottom" title="Approved Overtime Timesheet Report"><a href="@Url.Action("OvertimeReport", "Finanace")" style="padding-top:8px; padding-bottom:8px">OVERTIME</a></li>
                                <li data-toggle="tooltip" data-placement="bottom" title="Paid Timesheet Report"><a href="@Url.Action("monthlyReport", "Finanace")" style="padding-top:8px; padding-bottom:8px">PAID</a></li>

                            </ul>
                        </li>
                        <li id="dropmenu"><a href="@Url.Action("Index", "CostModel")" style="color:white; font-weight:600">COSTMODEL</a></li>
                        <li id="dropmenu"><a href="@Url.Action("Index", "Admin")" style="color:white; font-weight:600">ADMINISTRATION</a></li>
                    }
                    <li class="dropdown" id="dropmenu">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#" style="color:white; font-weight:600">REPORTS</a>
                        <ul class="dropdown-menu" style="background-color:white !important">
                            <li><a href="http://dc-sqldev/Reports/Pages/Report.aspx?ItemPath=%2fJMS+Reports%2fCandidateTimesheetReport" target="_blank" style="padding-top:8px; padding-bottom:8px">TIMESHEET REPORT</a></li>
                            <li><a href="https://app.powerbi.com/view?r=eyJrIjoiYWJkNGM5NmItNTRhZS00MDAwLTk0ZWYtZjRiOTU3OTNiZGY5IiwidCI6IjI0Y2IwYjA4LWI1OTEtNDE2NC05MTc0LThlMTI5MzlkNDA0NSJ9" target="_blank" style="padding-top:8px; padding-bottom:8px">TIMESHEET BI</a></li>

                            @*<li><a href="https://app.powerbi.com/view?r=eyJrIjoiM2Y1YzRlMTMtZmY4YS00MmRkLWIwZGEtZTEwYWU3YzU4YjliIiwidCI6IjI0Y2IwYjA4LWI1OTEtNDE2NC05MTc0LThlMTI5MzlkNDA0NSJ9" target="_blank">RESOURCE Available</a></li>*@
                            <li><a href="https://app.powerbi.com/view?r=eyJrIjoiMjU1ODJiMTAtNDNiZS00OGRiLThmNWQtNTk1YjNiZjI1MDhmIiwidCI6IjI0Y2IwYjA4LWI1OTEtNDE2NC05MTc0LThlMTI5MzlkNDA0NSJ9" target="_blank" style="padding-top:8px; padding-bottom:8px">PROJECTION</a></li>
                            <li>
                                <a href="https://app.powerbi.com/view?r=eyJrIjoiYjg2Njc5YmQtMzA0Zi00NmI5LWIyNzAtMjQ5YjlmMzBlZGVhIiwidCI6IjI0Y2IwYjA4LWI1OTEtNDE2NC05MTc0LThlMTI5MzlkNDA0NSJ9" target="_blank" style="padding-top:8px; padding-bottom:8px">ON GOING PROJECTION</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            }
        </div>

        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav navbar-right">
                @if (Session["Username"] != null)
                {
                    <li class="dropdown" id="dropmenu">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" style="color:white; font-weight:600">@Session["Username"].ToString()</a>
                        <ul class="dropdown-menu" style="right: 0; background-color:white !important">
                            <li><a href="@Url.Action("Logout", "Login")" style="padding-top:8px; padding-bottom:8px">LOGOUT</a></li>
                        </ul>
                    </li>
                }
            </ul>
        </div>

    </div>

    <div class="container">
        @if (HttpContext.Current.Session["ResultMessage"] != null)
        {
            <div class="alert alert-success text-center  alert-dismissible" role="alert" style="margin-top:100px; margin-bottom:0; z-index:9999">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @HttpContext.Current.Session["ResultMessage"]
            </div>
            HttpContext.Current.Session["ResultMessage"] = null;
        }
        @if (HttpContext.Current.Session["InfoMessage"] != null)
        {
            <div class="alert alert-info text-center  alert-dismissible" role="alert" style="margin-top: 100px; margin-bottom:0; z-index: 9999">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @HttpContext.Current.Session["InfoMessage"]
            </div>
            HttpContext.Current.Session["InfoMessage"] = null;
        }
        @if (HttpContext.Current.Session["ErrorMessage"] != null)
        {
            <div class="alert alert-danger text-center  alert-dismissible" role="alert" style="margin-top: 100px;margin-bottom:0; z-index: 9999">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @HttpContext.Current.Session["ErrorMessage"]
            </div>
            HttpContext.Current.Session["ErrorMessage"] = null;
        }
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>
    @*<hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Verser TIME SCHEDULER</p>
    </footer>*@

    @*  Calender Scripts
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    *@
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@

    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<style>

    .body {
        width: 100%;
    }

    #dropmenu {
        background-color:black;
    }
        #dropmenu :hover {
            background-color: #f79636;
        }

    #dropitem {
        background-color:white;
    }

        #dropitem :hover {
            background-color: #f79636;
        }


    a {
        color: #959ca1;
    }

    .navbar, .navbar div {
        height: 50px;
    }

    .fixed-top {
        height: 50px;
    }
    /* Additional styles to style some of your child elements */
    .navbar-brand {
        padding: 10px;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu > li > a:hover {
        background-color: #FFA500;
    }

    .navbar .navbar-toggle {
        padding: 4px 10px;
    }

    .tooltip-inner {
        /*max-width: 350px;*/
        height: 20px;
        /* If max-width does not work, try using width instead */
        width: 250px;
    }
</style>

