@using System.Linq;

@*@model  IEnumerable<TimeSheet.Models.ResourceAvailable>*@
@model  TimeSheet.Models.ResourceAvailable
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src=" https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

@*div class="container" style="padding-top:2px;padding-bottom:0px;margin-right:5px;padding-left:0px;padding-right:0px;margin-bottom:0px">
    <div class="body-content" style="vertical-align:baseline;padding-top:2PX;margin-left:0px;margin-right:1px;">
        <div class="pull-left col-md-offset-6" style="padding-top:2px;padding-bottom:0px;margin-right:0px;padding-left:1px;padding-right:0px;margin-bottom:0px">

            @using (Html.BeginForm("Index", "Resource", FormMethod.Post))

            {
                <div class="form-group col-md-3">

                    @Html.EditorFor(model => model.AvailableResourceSearchModel.StartTime, new { htmlAttributes = new { @class = "form-control1", Id = "datetimepicker" } })
                    @Html.ValidationMessageFor(model => model.AvailableResourceSearchModel.StartTime, "", new { @class = "text-danger" })

                </div>
                <div class="form-group col-md-3" style="width:25%">
                    @Html.EditorFor(model => model.AvailableResourceSearchModel.EndTime, new { htmlAttributes = new { @class = "form-control1", Id = "datetimepicker1" }, })
                    @Html.ValidationMessageFor(model => model.AvailableResourceSearchModel.EndTime, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-3" style="width:25%">
                    @Html.DropDownListFor(model => model.AvailableResourceSearchModel.WarehouseId, Model.WarehouseNameList, "Warehouse", new { @class = "form-control1 ", id = "ddlregWarehouseNameId" })
                </div>

                <div class="col-md-2">
                    <button type="submit" value="Search" class="btn btn-warning" name="submitButton" style="border-color:lightgray">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                 
                </div>

            }

        </div>
    </div>
</div>*@



<div class="container" style="margin-left:20px;width:92%;">
    @*<div class="row">*@
    <div class="col-md-12">

        <table class="table table-bordered  table-responsive table-hover" id="mainTable" style="font-size:12px;width:120%; text-align:center">
            <thead style="background-color:#FFA500;text-align:center; color:white">
                <tr>

                    <th style="text-align:center">Facilities</th>
                    <th style="text-align:center">ResourceName</th>
                    <th style="text-align:center">Skills</th>
                    <th style="text-align:center">TechnicianLevel</th>
                    <th style="text-align:center">Email</th>
                    <th style="text-align:center">Phones</th>
                    @*<th style="text-align:center">Date</th>*@
                    <th style="text-align:center">Details</th>


                </tr>
            </thead>

            @foreach (TimeSheet.Models.ResourceAvailable item in Model.ResourceAvailableList)

            {
            <tr>
                <td>@item.Warehouse</td>
               
                <td>@item.ResourceName</td>
                @*<a href="javascript:void(0);" class="CandidateDetail" data-id="@item.ResourceName">
            @Html.DisplayFor(modelItem => item.ResourceName)
        </a>*@

                <td>@item.CandidateSkills</td>
                <td>@item.TechnicianLevel</td>
                <td>@item.email</td>
                <td>@item.phone</td>
                @*<td>@item.availableDate.Value.ToShortDateString()</td>*@
                <td>
                    <a href="javascript:void(0);" class="btn btn-warning btn-edit" @*class="CandidateDetail"*@ data-id="@item.ResourceName">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </a>
                </td>

            </tr>
            }
        </table>
    </div>
</div>
@*</div>*@

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<div id='EditModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='EditModalContent'></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#mainTable').DataTable({
            pagingType: "simple"
        });
   

    var CandidateDetailsURL = './_ResourceBooked';
    $(function () {
        $("#mainTable").on("click", ".btn-edit", function () {
            //debugger;
            var $buttonClicked = $(this);
            var ResourceName = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: CandidateDetailsURL,
                contentType: "application/json; charset=utf-8",
                data: { "ResourceName": ResourceName },
                datatype: "json",
                success: function (data) {
                    //  debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
    
 
        //$('#edit').on('shown.bs.modal', function () {
        //    $('#myInput').trigger('focus')
        //})
 


    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })

    });

    //$("#closebtn").on('click',function(){
    //    $('#myModal').modal('hide');

    $("#closbtn").click(function () {
        $('#myModal').modal('hide');
    });

    });

</script>


<style>
    .glyphicon {
        font-size: 10px;
        color: white;
        background-color:orange;
    }

    .body-content {
        padding-left: 0px;
        padding-right: 0px;
        max-width: 100%
    }

    .container {
        padding-left: 0px;
        padding-right: 10px;
        max-width: 100%
    }

    .btn-warning {
        background-color: #FFA500;
        font-size: 11px
    }

    .modal-header {
        border-bottom: 0 none;
    }

    .modal-footer {
        border-top: 0 none;
    }

    /*.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FFA500;
        border-color: white;
    }*/

        /*.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
            background-color: #FFA500;
            border-color: white;
        }*/



    .page-item.active .page-link {
        color: white !important;
        background-color: orange !important;
        border-color: gray !important;
    }
</style>



