@model TimeSheet.Models.TimeSheetViewModel
@{ViewBag.Title = "ManageTimeSheet";}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<div class="container" style="margin-left:0px;width:100%;">
    <div class="row" style="vertical-align:baseline;padding-top:10PX;margin-left:0px;">
        <div class="pull-right">
            <div class="form-group col-md-3">
                @Html.DropDownListFor(model => model.ProjectID, Model.Projectlist, "PROJECTS", new { @class = "form-control project" })
            </div>
            <div class="form-group col-md-2">
                @Html.DropDownListFor(model => model.OpportunityID, new SelectList(Enumerable.Empty<SelectListItem>()), "OPPORTUNITY", new { @class = "form-control .OpportunityNumberID" })
            </div>
            <div class="form-group col-md-2">
                @Html.DropDownListFor(model => model.WarehouseID, Model.WarehouseNameList, "WAREHOUSE", new { @class = "form-control", id = "ddlWarehouseId" })
            </div>
            <div class="form-group col-md-3">
                @*Model.CandidateNameList*@
                @Html.DropDownListFor(model => model.ResourceID, new SelectList(Enumerable.Empty<SelectListItem>()), "RESOURCES", new { @class = "form-control", id = "ResourceID" })
                @Html.HiddenFor(model => model.ResourceID)
            </div>

            <div class="col-md-1">
                <input type="button" value="Search" class="btn btn-default btn-warning" OnClick="SearchAndRenderCalendar();" />
            </div>
        </div>
    </div>


    <div class="row" style="display:flex; margin-left:0px">
        <div class="demo-container">
            <div class="row">
                <div class="col-md-10" style="width:240px;">
                    <input type="search" id="myInput" class="form-control form-control-sm" placeholder="search resources..." title="search resources" aria-controls="TimeSheetTable">
                </div>
            </div>
            <div class="table" id="table">

                <div id="myTable">

                    @foreach (var item in Model.CandidateNameList)
                    {
                        <div id="tabletr">

                            <a href="#" onclick="SearchCandidateCalendar(@item.Value.ToString())" style="text-decoration: none;">
                                <div class="list-group-item">
                                    @item.Text
                                </div>
                            </a>


                        </div>
                    }
                </div>
            </div>
        </div>

        <div id="calender" class="col-md-10" style="width:100%; display: inline-block;"></div>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:lightgray">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><span id="eventTitle"></span></h4>
                    </div>
                    <div class="modal-body">
                        <p id="pDetails"></p>
                    </div>
                    <div class="modal-footer" style="background-color:lightgray;height:20%; padding:2px 2px;">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="modal fade" id="ModalAddForm" data-backdrop="static">

                <div class="modal-dialog" style="width:850px;">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#959ca1;">
                            <div>
                                <h5 ALIGN="CENTER" style="color:white">REGISTER TIMESHEET</h5>
                            </div>
                            <button class="close btn-lg" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body" id="ModalAddFormLoad">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>

<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
@*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />*@

@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function(){
              $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable *").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                     //FetchEventAndRenderCalendar();
                });
     
              });
            });
            function FetchEventAndRenderCalendar() {
                events = [];
                $.ajax({
                    type: "GET",
                    url: "./GetEvents",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            events.push({

                                eventID: v.ID,
                                title: v.CandidateName + ' - ' + v.Activity,
                                description: v.Activity,
                                start: moment(v.StartTime),
                                end: v.EndTime != null ? moment(v.EndTime) : null,
                                color: v.Colour,
                                allDay: v.IsFullDay
                            });
                        })
                        GenerateCalender(events);
                   },
                    error: function (error) {
                        alert('failed');
                    }
                })
            }
            function SearchAndRenderCalendar() {
                events = [];
                $.ajax({
                    type: "POST",
                    url: "./SearchEvents",
                    data: { 'candidateId': $('#ddlCandidateId').val(), 'warehouseId': $('#ddlWarehouseId').val(), 'opportunityId': $('#ddlOpportunityId').val() },
                    success: function (data) {
                        $.each(data, function (i, v) {
                            events.push({
                                eventID: v.ID,
                                title: v.CandidateName,
                                description: v.Activity,
                                start: moment(v.StartTime),
                                end: v.EndTime != null ? moment(v.EndTime) : null,
                                color: v.Colour,
                                allDay: v.IsFullDay
                            });
                        })
                        GenerateCalender(events);
                    },
                    error: function (error) {
                        alert('search failed');
                    }
                })
            }
            function SearchCandidateCalendar(CandidateId) {
                events = [];
                $.ajax({
                    type: "POST",
                    url: "./SearchEvents",
                    data: { 'candidateId': CandidateId },
                    success: function (data) {
                        $.each(data, function (i, v) {
                            events.push({
                                eventID: v.ID,
                                title: v.CandidateName,
                                description: v.Activity,
                                start: moment(v.StartTime),
                                end: v.EndTime != null ? moment(v.EndTime) : null,
                                color: v.Colour,
                                allDay: v.IsFullDay
                            });
                        })
                        GenerateCalender(events);
                    },
                    error: function (error) {
                        alert('search failed');
                    }
                })
            }
            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 650,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: events.Colour,  //'#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        var str1 = calEvent.title;
                        var pos = str1.indexOf("-", 0);
                        var candidatename = str1.substr(0, pos);
                        $('#myModal #eventTitle').text(candidatename);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                        }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    },
                    selectable: true,
                    select: function (start, end) {
                        selectedEvent = {
                            eventID: 0,
                            title: '',
                            description: '',
                            start: start,
                            end: end,
                            allDay: false,
                            color: ''
                        };
                        openAddEditForm();
                        $('#calendar').fullCalendar('unselect');
                    },
                    editable: true,
                    eventDrop: function (event) {
                        var data = {
                            EventID: event.eventID,
                            Subject: event.title,
                            Start: event.start.format('DD/MM/YYYY HH:mm A'),
                            End: event.end != null ? event.end.format('DD/MM/YYYY HH:mm A') : null,
                            Description: event.description,
                            ThemeColor: event.color,
                            IsFullDay: event.allDay
                        };
                        SaveEvent(data);
                    }
                })
            }
            function openAddEditForm() {

                $('#myModal').modal('hide');
                $('#myModalSave').modal();
            }
            $(document).ready(function () {
                var events = [];
                var selectedEvent = null;
                FetchEventAndRenderCalendar();

                $('#btnEdit').click(function () {
                    openAddEditForm();
                })

                //$('#btnregister').click(function () {

                //    if ($('#ddlregWarehouseNameId').val() == null || $('#ResourceId').val() == null || $('#ddlregOpportunityNumberID').val() == null) {
                //        alert("Warehouse Or Resource Or Opportunity Number Are Mandotory Fields To Register Time Schedule!")
                //    }
                //    if ($('#ddlregWarehouseNameId').val() == null) {
                //        alert("Warehouse Or Resource Or Opportunity Number Are Mandotory Fields To Register Time Schedule!")
                //        $('#ddlregWarehouseNameId').css("border", "1px solid red");
                //        alert("Please Select Warehouse")
                //        evt.PreventDafault();
                //    }
                //    $('#ddlregCustomerID').val()
                //    $('#ddlregOpportunityNumberID').val()
                //})

                $('#btnDelete').click(function () {
                    if (selectedEvent != null && confirm('Are you sure?')) {
                        $.ajax({
                            type: "POST",
                            url: './DeleteEvent',
                            data: { 'eventID': selectedEvent.eventID },
                            success: function (data) {
                                if (data.status) {
                                    //Refresh the calender
                                    FetchEventAndRenderCalendar();
                                    $('#myModal').modal('hide');
                                }
                            },
                            error: function () {
                                alert('Failed');
                            }
                        })
                    }
                })

                $('.project').change(function () {
                        var loadUrl = '@Url.Action("ProjectOpportunities", "ManageCalender")';
                    var loads = $('#OpportunityID');
                        var id = $(this).val();
                        $.getJSON(loadUrl, { projectid: id }, function (response) {
                            loads.empty(); // remove any existing options
                            loads.append($('<option></option>').text("Opportunity").val(0));
                            $.each(response, function (index, item) {
                                loads.append($('<option></option>').text(item.Value).val(item.Id));
                            });
                        });
                });

                $('.ddlregCustomerID').change(function () {
                        var loadUrl = '@Url.Action("ProjectOpportunities", "ManageCalender")';
                    var loads = $('#ddlRegOpportunityNumberID');
                        var id = $(this).val();
                        $.getJSON(loadUrl, { projectid: id }, function (response) {
                            loads.empty(); // remove any existing options
                            loads.append($('<option></option>').text("Select Opportunity").val(0));
                            $.each(response, function (index, item) {
                                loads.append($('<option></option>').text(item.Value).val(item.Id));
                            });
                        });
                });
                $('#ddlRegOpportunityNumberID').change(function () {

                    var ActivityUrl = '@Url.Action("ProjectActivities", "ManageCalender")';
                    var Activities = $('#ServiceActivityID');
                        var id = $(this).val();
                    $.getJSON(ActivityUrl, { OpportunityId: id }, function (response) {
                            Activities.empty();
                        Activities.append($('<option></option>').text("Select Activity").val(0));
                            $.each(response, function (index, item) {
                                Activities.append($('<option></option>').text(item.Value).val(item.Id));
                            });
                        });
                });
                $('#ddlWarehouseId').change(function () {

                    var warehouseUrl = '@Url.Action("WarehouseResource", "DropDownLoader")';
                    var WarehouseResource = $('#ResourceID');
                        var id = $(this).val();
                    $.getJSON(warehouseUrl, { WarehouseID: id }, function (response) {
                        WarehouseResource.empty();
                        WarehouseResource.append($('<option></option>').text("Select Resource").val(0));
                            $.each(response, function (index, item) {
                                WarehouseResource.append($('<option></option>').text(item.Value).val(item.Id));
                            });
                        });
                });
            });
    </script>
}

<style>
    .modal-megamenu {
        width: 700px;
        height: 100%;
        padding: 2px;
    }

    .modal-body {
        max-height: 900px;
        overflow: auto;
    }

    .form-group {
        margin-bottom: 2px;
        padding-left: 2px;
        padding-right: 2px;
        font-size: 12px;
        border-radius: 9px;
        margin-top: 0px;
    }

    .list-group {
        max-height: 700px;
        margin-bottom: 10px;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .container {
        padding-left: 0px;
        padding-right: 10px;
        max-width: 100%;
    }

    .body-content {
        padding-left: 0px;
        padding-right: 10px;
        max-width: 100%;
    }

    .modal-header {
        border-bottom: 0 none;
    }

    .modal-footer {
        border-top: 0 none;
    }

    .list-group .list-group-item:hover {
        background: #ff8300;
        cursor: pointer;
        color: #fff;
    }
    .table{
        display: block;
        max-height: 680px;
        overflow-y: scroll;
    }
</style>

