@model TimeSheet.Models.TimeSheetViewModel

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
<script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>

<div class="row">
    <div id="myModalSave" class="modal fade" role="dialog">
        <div class="modal-dialog modal-megamenu">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#e2e2e2">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">REGISTER TIMESHEET</h4>
                </div>
                <div class="modal-body">

                    @using (Html.BeginForm("Register", "TimeSheet", FormMethod.Post))
                    {
                        <div class="form-group col-md-6">
                            <label>Date:</label>
                            @Html.EditorFor(model => model.TimeSheetRegisterModel.Day, new { htmlAttributes = new { @class = "form-control date-picker", Id = "DatePickId" } })
                            @Html.ValidationMessageFor(model => model.TimeSheetRegisterModel.Day, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Project:</label>
                            @Html.DropDownListFor(model => model.TimeSheetRegisterModel.ProjectID, Model.Projectlist, "Select a Project", new { @class = "form-control ddlregCustomerID" })
                            @Html.ValidationMessageFor(model => model.TimeSheetRegisterModel.ProjectID, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Warehouse:</label>
                            @Html.DropDownListFor(model => model.TimeSheetRegisterModel.WarehouseNameId, Model.WarehouseNameList, "Warehouse", new { @class = "form-control ", id = "ddlregWarehouseNameId" })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Opportunity Number:</label>
                            @Html.DropDownListFor(model => model.TimeSheetRegisterModel.OpportunityNumberID, new SelectList(Enumerable.Empty<SelectListItem>()), "Select Opportunity Number", new { @class = "form-control", id = "ddlRegOpportunityNumberID" })

                        </div>
                        <div class="form-group col-md-6">
                            <label>Resource:</label>
                            @Html.DropDownListFor(model => Model.ResourceIDs, Model.CandidateNameList, new { @id = "CandidateNameId", @class = "form-control", @multiple = "multiple" })

                            @Html.ValidationMessageFor(model => model.TimeSheetRegisterModel.CandidateNameId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Activity:</label>
                            @Html.DropDownListFor(model => model.ServiceActivityID, new SelectList(Enumerable.Empty<SelectListItem>()), "Select a Service", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ServiceActivityID, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group col-md-6">
                            <label>Start Time:</label>
                            @Html.EditorFor(model => model.TimeSheetRegisterModel.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimeSheetRegisterModel.StartTime, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label>End Time:</label>
                            @Html.EditorFor(model => model.TimeSheetRegisterModel.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimeSheetRegisterModel.EndTime, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Theme Color</label>
                            @Html.DropDownListFor(model => model.TimeSheetRegisterModel.Colour, new SelectList(new[] { "Red", "Blue", "Black", "Green", "Pink" }), new { @class = "form-control" })

                        </div>
                        <div class="form-group col-md-6">
                            <label>OLA Target:</label>
                            @Html.EditorFor(model => model.TimeSheetRegisterModel.OLATarget, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TimeSheetRegisterModel.OLATarget, "", new { @class = "text-danger" })
                        </div>

                        <div class="modal-footer" style="height:20%; padding:2px 2px">
                            <button type="submit" class="btn btn-warning btn-lg" id="btnregister"
                                    style="width:100%;">
                                <span class="glyphicon glyphicon-ok-sign"></span> Submit
                            </button>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")


}
<script>
    $('#CandidateNameId').multiselect({
includeSelectAllOption: true
});
</script>

<style>
    .form-group {
        margin-bottom: 2px;
        padding-right: 5px;
        padding-left: 5px;
        font-size: 12px;
        border-radius: 9px;
        padding-bottom: 5px;
        margin-top: 2px;
    }
</style>
