@*@model IEnumerable<TimeSheet.Models.AdminModel>*@
@model TimeSheet.Models.AdminModel
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css" rel="stylesheet">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
@*<script src="Scripts/jquery-1.10.2.min.js"></script>*@

<section id="tabs" class="project-tab">
    <div class="container" style="width:170%; padding-top:15px; margin-left: 1px; border-color:lightgray">
        <nav>
            <ul class="nav nav-tabs" style="padding-top:15px" id="myTab" role="tablist">
                <li style="background-color:lightgray; font:14px; color:black" class="active"><a data-toggle="tab" href="#tblCustomers">OPPORTUNITIES</a></li>
                <li style="background-color:lightgray"><a data-toggle="tab" href="#MANAGERESOURCES">RESOURCES</a></li>
                <li style="background-color:lightgray"><a data-toggle="tab" href="#MANAGEPROJECTS">PROJECTS</a></li>
                <li style="background-color:lightgray"><a data-toggle="tab" href="#MANAGEACTIVITIES">ACTIVITIES</a></li>
                @*<li style="background-color:lightgray"><a data-toggle="tab" href="#MANAGEUSER">USER ROLE</a></li>*@
            </ul>
        </nav>
        <div class="tab-content" @*style="border-width:thin;border-style:solid;border-color:gray;width:100%;padding-top:10px;border-width:thin;margin-right:0px;border-color:lightgray"*@>

            <div id="tblCustomers" class="tab-pane fade  in active" role="tabpanel">
                <table class="table table-bordered table-responsive" id="tblCustomers">
                    <thead style="background-color:lightgray">
                        <tr>

                            <th>
                                Customer
                            </th>
                            <th>
                                Opportunity
                            </th>
                            <th>
                                Is Active
                            </th>
                        </tr>
                    </thead>

                    @foreach (var item in Model.OpportunityList)


                    {
                        <tr>

                            <td>@item.ProjectName</td>
                            <td>@item.OpportunityNumber</td>
                            <td>
                                <input data-size="mini" type="checkbox" data-toggle="toggle" name="AssignedGroups[@item.IsActive].Assigned" @(item.IsActive ? "checked" : "") value="@item.IsActive" id="OpportunityCheckBoxID" onchange="OpportunityIdChange(this);" />
                            </td>
                        </tr>
                    }

                </table>
                <input type="submit" class="btn btn-default btn-primary" value="Apply Changes" />
            </div>


            <div id="MANAGERESOURCES" class="tab-pane fade" role="tabpanel">
                <table class="table table-bordered table-responsive" id="MANAGERESOURCES">
                    <thead style="background-color:lightgray">
                        <tr>
                            <th>
                                Resource Name
                            </th>
                            <th>
                                Warehouse
                            </th>

                            <th>
                                Is Active
                            </th>
                        </tr>
                    </thead>

                    @foreach (var item in Model.ResourceList)


                    {
                        <tr>

                            <td>@item.ResourceName</td>
                            <td>@item.Warehouse</td>
                            <td>
                                <input data-size="mini" type="checkbox" data-toggle="toggle" name="AssignedGroups[@item.IsActive].Assigned" @(item.IsActive ? "checked" : "") value="@item.IsActive" id="ResourceCheckBoxID" onchange="ResourceIdChange(this,'@item.ResourceName');" />
                            </td>
                        </tr>
                    }

                </table>
                <input type="submit" class="btn btn-default btn-primary" value="Apply Changes" />
            </div>

            <div id="MANAGEPROJECTS" class="tab-pane fade" role="tabpanel">
                <table class="table table-bordered table-responsive" id="MANAGEPROJECTS">
                    <thead style="background-color:lightgray">
                        <tr>
                            <th>
                                PROJECT NAME
                            </th>


                            <th>
                                Is Active
                            </th>
                        </tr>
                    </thead>

                    @foreach (var item in Model.ProjectDetailsList)


                    {
                        <tr>

                            <td>@item.projectName</td>
                            <td>
                                <input data-size="mini" type="checkbox" data-toggle="toggle" name="AssignedGroups[@item.IsActive].Assigned" @(item.IsActive ? "checked" : "") value="@item.IsActive" id="OpportunityCheckBoxID" id="ProjectCheckBoxID" onchange="ProjectIdChange(this,@item.projectName);"/>
                            </td>
                        </tr>
                    }

                </table>
                <input type="submit" class="btn btn-default btn-primary" value="Apply Changes" />
            </div>

            <div id="MANAGEACTIVITIES" class="tab-pane fade" role="tabpanel">
                <table class="table table-bordered table-responsive table-hover" id="MANAGEACTIVITIES">
                    <thead style="background-color:lightgray">
                        <tr>
                            <th>
                                Activity Category
                            </th>
                            <th>
                                Activity
                            </th>
                            <th>
                                OLA/15mins
                            </th>
                            <th>
                                OLA/30mins
                            </th>
                            <th>
                                OLA/Day
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Edit
                            </th>

                        </tr>
                    </thead>

                    @foreach (var item in Model.ActivityList)


                    {
                        <tr>
                            <td width="15%">@item.serviceCategory</td>
                            <td width="30%">@item.serviceActivityDescription</td>

                            <td width="10%">

                                <span>@Html.DisplayFor(modelItem => item.OLA_15mins)</span>
                                <input type="text" id="quantity" value="@item.OLA_15mins" style="display:none" />
                            </td>

                            <td width="10%">

                                <span>@Html.DisplayFor(modelItem => item.OLA_30mins)</span>
                                <input type="text" id="quantity" value="@item.OLA_30mins" style="display:none" />
                            </td>

                            <td width="10%">

                                <span>@Html.DisplayFor(modelItem => item.OLA_Day)</span>
                                <input type="text" id="quantity" value="@item.OLA_Day" style="display:none" />
                            </td>

                            @*<td width="10%">@item.OLA_15mins</td>
                                <td width="10%">@item.OLA_30mins</td>
                                <td width="10%">@item.OLA_Day</td>*@
                            <td width="15%">@item.olA_Filter</td>
                            <td width="10%">
                                <a class="Edit" href="javascript:;">Edit</a>
                                <a class="Update" href="javascript:;" style="display:none">Update</a>
                                <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
    <script type="text/javascript">
    </script>
}
<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        $('table#tblCustomers').DataTable();
        $('table#MANAGERESOURCES').DataTable();
        $('table#MANAGEPROJECTS').DataTable();
        $('table#MANAGEACTIVITIES').DataTable();

        $(function () {
            $("#tabs").tabs();
        });

        $('#OpportunityCheckBoxID').change(function () {
            if ($(this).is(":checked")) {
                var returnVal = confirm("Are you sure?");
                alert('hi')
                $(this).attr("checked", returnVal);
            }
            $('#OpportunityCheckBoxID').val($(this).is(':checked'));
        });

        $(document).ready(function () {
            $('#OpportunityCheckBoxID').on('click', function () {
                var prices = [];
                $('input:checked').each(function () {

                    prices.push($(this).attr("value"));
                });
                $.ajax({
                    url: "/Resource/Update",
                    type: "POST",
                    data: { coursePrices: prices },
                    dataType: "json",
                    traditional: true,
                    success: function () {
                        alert("ajax request to server succeed");
                    }
                });
            });
        });

          function AppendRow(row, Id, Quantity, Comments, DateInvoiced) {
        //Bind CustomerId.
        $(".Id", row).find("span").html(Id);

        //Bind Name.
              $(".OLA_15mins", row).find("span").html(Quantity);
              $(".OLA_15mins", row).find("input").val(Quantity);

        //Bind Name.
              $(".OLA_30mins", row).find("span").html(Quantity);
              $(".OLA_30mins", row).find("input").val(Quantity);



        //Bind Country.
              $(".OLA_Day", row).find("span").html(Comments);
              $(".OLA_Day", row).find("input").val(Comments);
        row.find(".Edit").show();

              $("#MANAGEACTIVITIES").append(row);
    };

    //Edit event handler.
        $("body").on("click", "#MANAGEACTIVITIES .Edit", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                $(this).find("input").show();
                $(this).find("span").hide();
                $(this).toggleClass('selected');
            }
        });
        row.find(".Update").show();
        row.find(".Cancel").show();

        $(this).hide();
    });

    //Update event handler.
        $("body").on("click", "#MANAGEACTIVITIES .Update", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                span.html(input.val());
                span.show();
                input.hide();
                $(this).removeClass('selected');
            }
        });
        row.find(".Edit").show();

        row.find(".Cancel").hide();
        $(this).hide();
        debugger;
        var ProjectionModel = {};
        var loadUrl = '@Url.Action("UpdateProjectionModel", "Projection")';

        var data = {
                    'OpportunityID' :row.find("input#txtOpportunityId").val(),
                    'Quantity' : row.find("input#quantity").val(),
                    'Created' : row.find("input#startTime").val(),
                    'DateInvoiced': row.find("input#endTime").val(),
                    'WarehouseID': row.find("select#WarehouseID").val(),
                    'ServiceActivityId': row.find("#txtServiceActvty").val()

                };
        $.post(loadUrl, data, function (response) {
                });
    });
    //Cancel event handler.
        $("body").on("click", "#MANAGEACTIVITIES .Cancel", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                input.val(span.html());
                span.show();
                input.hide();
                $(this).removeClass('selected');
            }
        });
        row.find(".Edit").show();
        //row.find(".Delete").show();
        row.find(".Update").hide();
        $(this).hide();
    });
    });
    function OpportunityIdChange(theRow) {
        var tr = $(theRow).closest("tr");
        var td = tr.find("td:nth-child(2)");
        var opportunityid = td.text();
        var ischecked = tr.find("#OpportunityCheckBoxID").is(':checked');
        $.ajax({
            url: "./UpdateOpportunities",
                    type: "POST",
            data: { opportunityID: opportunityid, isActive: ischecked },
                    dataType: "json",
                    traditional: true,
                    success: function () {
                        alert("ajax request to server succeed");
                    }
        });
    }
    function ResourceIdChange(theRow, resourceName) {
      //  alert('changed')
        var tr = $(theRow).closest("tr");
       // var td = tr.find("td:nth-child(4)");
        //var resourceId = tr.find("#hdnResource").val();
        var ischecked = tr.find("#ResourceCheckBoxID").is(':checked');
        $.ajax({
            url: "./UpdateResourceState",
            type: "POST",
            data: { resourceID: resourceName, isActive: ischecked },
            dataType: "json",
            traditional: true,
            success: function () {
                alert("ajax request to server succeed");
            }
        });
    }
    function ProjectIdChange(theRow,projectId) {
        var tr = $(theRow).closest("tr");
        // var projectId = tr.find("#hdnProject").val();
        var ischecked = tr.find("#ProjectCheckBoxID").is(':checked');
        $.ajax({
            url: "./UpdateProjectState",
            type: "POST",
            data: { ProjectID: projectId, isActive: ischecked },
            dataType: "json",
            traditional: true,
            success: function () {
                alert("ajax request to server succeed");
            }
        });
    }

</script>


<style>

    .textarea {
        max-width: 280px;
        font-size: 10px;
        border: 2px;
        outline: 2px;
    }

    .selected {
        color: black;
        background-color: lightgray;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: #555555;
        cursor: default;
        background-color: orange;
        border: 1px solid #dddddd;
        border-bottom-color: transparent;
    }

    .table-hover > tbody > tr:hover > td,
    .table-hover > tbody > tr:hover > th {
        background-color: lightgray;
    }

    .form-group {
        margin-bottom: 2px;
        padding-right: 0;
        padding-left: 0;
        font-size: 10px;
        border-radius: 9px;
        padding-bottom: 2px;
        margin-top: 0px;
    }

    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FFA500;
        border-color: white;
    }


    .page-item.active .page-link {
        color: white !important;
        background-color: orange !important;
        border-color: gray !important;
    }

    /* Default State */
    .x-nav-tabs > li > a {
        background: #fff;
    }

    /* Active State */
    .x-tab-pane > .active > a, .x-tab-pane > .active > a:hover {
        background-color: #f0f0f0;
    }

    .tab-pane {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-radius: 0px 0px 5px 5px;
        padding: 10px;
    }

    .form-control {
        margin-bottom: 2px;
        padding-right: 0;
        padding-left: 0;
        font-size: 12px;
        font-family: Arial;
        border-radius: 9px;
        padding-bottom: 2px;
        margin-top: 0px;
    }

    .form-group {
        margin-bottom: 2px;
        padding-right: 0;
        padding-left: 0;
        font-size: 10px;
        border-radius: 9px;
        padding-bottom: 2px;
        margin-top: 0px;
    }


    .row-group {
        width: 47%;
        min-height: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        background-color: whitesmoke;
        border: 1px solid #e3e3e3;
        border-radius: 2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    }


    input[type="checkbox"] {
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        background: lightgray;
        height: 6px;
        width: 6px;
        border: 1px solid white;
    }

        input[type="checkbox"]:checked {
            background: #2aa1c0;
        }

        input[type="checkbox"]:hover {
            filter: brightness(90%);
        }

        input[type="checkbox"]:disabled {
            background: #e6e6e6;
            opacity: 0.6;
            pointer-events: none;
        }

        input[type="checkbox"]:after {
            content: '';
            position: relative;
            left: 40%;
            top: 20%;
            width: 15%;
            height: 40%;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            display: none;
        }

        input[type="checkbox"]:checked:after {
            display: block;
</style>


