@model  TimeSheet.Models.ProfitLossModel

<div>
    <div class="modal-header" style="background-color:lightgray;width:1720px">
        <h5 class="modal-title text-center">Service Cost</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div style="align-content:center;padding-bottom:40px;padding-left:20px;width:1200px">
        <table id="tblCustomers" class="table-bordered table-responsive-md text-center table-hover table-scroll" style="align-content:center;padding-bottom:10px;width:1450px">
            <thead style="background-color:#FFA500;color:white">
                <tr>
                    @*<th>Opportunity</th>*@
                    <th>Service</th>
                    <th>Category</th>
                    <th>Travel</th>
                    <th>WarehouseLabour</th>
                    <th style="width:50px">Freight/Variable/Partner</th>
                    <th>PMCostPerUnit</th>
                    <th style="width:50px">TechnicianHourlyRate</th>
                   <th style="width:10px">TravelCostPerHour</th>
                    <th style="width:10px">Freight/Variable/Partner</th>
                    <th>PMCostHoursPerUnit</th>
                    <th>Cost</th>
                    <th style="width:10px">ProfitPerUnit/Asset</th>
                    <th style="width:10px">Profit</th>
                </tr>
            </thead>
            <tbody class="table">
@foreach (var item in Model.ProfitLossList)
{
    <tr>
    @*<td>
        @Html.DisplayFor(modelItem => item.opportunityNumber)
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.serviceDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.costCategory)
    </td>
   
    <td>
        @Html.DisplayFor(modelItem => item.travelCostHoursPerunit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.labourCostPerUnit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.variableCostPerUnit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.pmCostPerUnit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.technicianHourlyRate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.travelCostHoursPerunit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.variableCostPerUnitNA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.pmCostHoursPerUnit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.totalCost)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.profitPerUnit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.totalProfit)
    </td>
</tr>
}
</tbody>
</table>
</div>
</div>

<script type="text/javascript">
    $('#tblCustomers').dataTable({
        responsive: true
    });
    SetDDLValue();
    

    //Update event handler.
    $("body").on("click", "#tblCustomers .Update", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                //span.html(input.val());
                span.show();
                input.hide();
                $(this).removeClass('selected');
            }
        });
        row.find(".Edit").show();
        row.find(".Cancel").hide();
        row.find("#Rate").hide();
        $(this).hide();
        //debugger;
        var options = { "backdrop": "static", keyboard: true };
        var CandidateEdit = {};

        CandidateEdit.Id = row.find(".Id").find("span").html();
        CandidateEdit.ActualQuantity = row.find("#txtActualQuantity").val();
        CandidateEdit.TimeSheetComments = row.find("#txtComments").val();
        CandidateEdit.StartTime = row.find("#startTime").val();
        CandidateEdit.EndTime = row.find("#endTime").val();
        CandidateEdit.EndDate = row.find(".EndDate").find("span").html();
        CandidateEdit.Day = row.find(".Day").find("span").html();
        CandidateEdit.StatusID = row.find("#ddlStatus").val();
        CandidateEdit.BreakHours = row.find("#ddlBreak").val();

        $.ajax({
            type: "POST",
            url: "./UpdateCandidate",
            data: '{CandidateEdit:' + JSON.stringify(CandidateEdit) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });

        $.ajax({

            type: "GET",
            url: './ProjectDetails',
            contentType: "application/json; charset=utf-8",
            data: { "ProjectName": row.find("#ProjectName").text() },
            datatype: "json",
            success: function (data) {
                // debugger;
                $('#myModalContent').html(data);
                $('#myModal').modal(options);
                $('#myModal').modal('show');
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });
        $('#myModal').on('hidden.bs.modal', function (e) {
            location.reload();
        })
    });

    $("#myModal").draggable({
        handle: ".modal-header"
    });


    $(".Edit").on("click", function () {
        $(".popup-overlay, .popup-content").addClass("active");
    });

    //removes the "active" class to .popup and .popup-content when the "Close" button is clicked
    $(".Update, .popup-overlay").on("click", function () {
        $(".popup-overlay, .popup-content").removeClass("active");
    });

    //Cancel event handler.
    $("body").on("click", "#tblCustomers .Cancel", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                $(this).removeClass('selected');
                //input.val(span.html());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Update").hide();
        row.find("#Rate").hide();
        $(this).hide();
    });
    var CandidateRatingDetailsURL = './Rating';
    function Rate(rowid) {

      //  alert('rating');
       // debugger;
        var $buttonClicked = $(this);
        var tr = $(rowid).closest("tr");
        var td = tr.find("td:nth-child(1)");
        var options = { "backdrop": "static", keyboard: true };
        $('#myModal').modal('hide');
        var data = ""
      //  alert(td.val());
       // $('#myRatingModal').modal('show');
        $.ajax({
            type: "GET",
            url: CandidateRatingDetailsURL,
            contentType: "application/json; charset=utf-8",
            data: {},
            datatype: "json",
            success: function (data) {
                // debugger;

                $.confirm({
                         title: 'Resource Rating!',
                         content: data,
                         buttons: {
                             Rate: function () {
                                 var model = {
                                     'CandidateTimeSheetID': td.text(),
                                     'Punctuality': $('#rating-input').val(),
                                     'ProfessionalService': $('#rating-input1').val(),
                                     'PoliteAndCourteous': $('#rating-input2').val(),
                                     'WorkQuality': $('#rating-input3').val(),
                                     'Comments': $('#txtcomments3').val()


                                 };
                               //  alert($('#rating-input').val());
                                     $.ajax({
                                         data: model,
                                         url: '@Url.Action("RateResource", "Resource")',
                                         type: "POST",
                                         success: function (data) {


                                                 var row = $(rowid).closest("tr");
                                                 $("td", row).each(function () {
                                                     if ($(this).find("input").length > 0) {
                                                         $(this).find("input").hide();
                                                         $(this).find("span").show();
                                                         $(this).toggleClass('selected');

                                                     }
                                                 });
                                                 row.find(".Update").hide();
                                                 row.find(".Cancel").hide();
                                                 row.find("#Rate").hide();

                                                 $(".Edit").show();
                                                // return;

                                         }
                                 });
                                 $('#myModal').modal('show');
                                 $(".Cancel").hide();
                                 return;
                             },
                             cancel: function () {
                                 $('#myModal').modal('show');
                                 var row = $(rowid).closest("tr");
                                 $("td", row).each(function () {
                                     if ($(this).find("input").length > 0) {
                                         $(this).find("input").hide();
                                         $(this).find("span").show();
                                         $(this).toggleClass('selected');

                                     }
                                 });
                                 row.find(".Update").hide();
                                 row.find(".Cancel").hide();
                                 row.find("#Rate").hide();

                                 $(".Edit").show();
                                 return;
                             }
                         }

                     });
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });



    }
</script>
<style>
    .modal-dialog {
        width: 1750px;
        margin: 30px auto;
        margin-bottom: 10px;
    }

    .table-hover > tbody > tr:hover > td,
    .table-hover > tbody > tr:hover > th {
        background-color: lightgray;
    }

    .selected {
        color: black;
        background-color: lightgray;
    }

    .btn {
        font-size: 10px;
    }

    table tr.active {
        background: red;
    }

    a.btn {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.6);
        -o-transform: scale(0.6);
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
    }
</style>
