@using System.Linq;
@*@model IEnumerable<TimeSheet.Models.ProjectDetailsModel>*@
@model TimeSheet.Models.ProjectionModel
@{
    ViewBag.Title = "Index";
}
<script src="https://code.jquery.com/jquery-3.3.1.js" type="text/javascript"></script>
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src=" https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
@*<script src="Scripts/jquery-1.10.2.min.js"></script>*@

<section id="tabs" class="project-tab">
    <div class="container" style="width:170%; padding-top:15px; margin-left: 1px; border-color:lightgray">
        <nav>
            <ul class="nav nav-tabs" style="padding-top:15px" id="myTab" role="tablist">
                <li style="background-color:lightgray; font:14px; color:black" class="active"><a data-toggle="tab" href="#tblCustomers">PROJECTION</a></li>
                <li style="background-color:lightgray"><a href="#MANAGEPROJECTION" data-toggle="tab">ADD PROJECTION</a></li>
             
            </ul>
        </nav>
        <div class="tab-content" @*style="border-width:thin;border-style:solid;border-color:gray;width:100%;padding-top:10px;border-width:thin;margin-right:0px;border-color:lightgray"*@>
            <div id="MANAGEPROJECTION" class="tab-pane fade" role="tabpanel" @*style="text-align:left;padding-left:5px"*@>
                <table class="table table-bordered table-responsive" id="MANAGEPROJECTION">
                    <thead style="background-color:#FFA500 ">
                        <tr>

                            <th>ProjectName</th>

                            <th>OppurtunityId</th>
                            <th>ServiceDescription</th>
                            <th>Facility</th>
                            <th>DateAllocated</th>
                            <th>ActualQuantity</th>
                            <th>DateEstimatedInvoiced</th>

                            <th style="width:10px"></th>
                            <th class="hidden"></th>

                        </tr>
                    </thead>
                    <tbody class="table">
                        @foreach (var item in Model.projectionOpportunityModel)
                        {
                            <tr>


                                <td class="ProjectName">
                                    <input type="text" id="txtProjectName" value="@item.ProjectName"/>
                                </td>
                                <td class="opportunity">
                                    <input type="text" id="txtOpportunityId" value="@item.OpportinutyId" />
                                </td>
                                <td class="Activity Desc">
                                    <input type="text" id="txtActivityDesc" value="@item.Activity" />
                                </td>
                                <td>

                                    @Html.DropDownListFor(model => model.WarehouseID, Model.WarehouseList, "Warehouse")
                                </td>
                                <td>
                                    <span id="startTime">@item.DateAllocated</span>
                                    <input type="date" id="startTime" value="@item.DateAllocated" style="display:none" />
                                </td>
                                <td>

                                    <span>@Html.DisplayFor(modelItem => item.ActualQuantity)</span>
                                    <input type="text" id="quantity" value="@item.ActualQuantity" style="display:none" />
                                </td>
                                <td>
                                    <span id="endTime">@item.DateInvoiced</span>
                                    <input type="date" id="endTime" value="@item.DateInvoiced" style="display:none" />
                                </td>

                                <td>
                                    <a class="Edit" href="javascript:;">Edit</a>
                                    <a class="Update" href="javascript:;" style="display:none" id="Update">Update</a>
                                    <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
                                    @*<a class="Delete" href="javascript:;">Delete</a>*@
                                </td>
                                <td class="hidden"><input type="text" id="txtServiceActvty" value="@item.ServiceActivityId"/></td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>


            <div id="tblCustomers" class="tab-pane fade  in active" role="tabpanel">
                <table class="table table-bordered table-responsive" id="tblCustomers">
                    <thead style="background-color:lightgray">
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Customer
                            </th>
                            <th>
                                Opportunity
                            </th>
                            <th>
                                PM
                            </th>
                            <th>
                                Activity
                            </th>
                            @*<th>
                                    Site Address
                                </th>
                                <th>
                                    Sales
                                </th>*@
                            <th>
                                Branch
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                PriceperUnit
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Allocated Date
                            </th>
                            <th>
                                Invoiced Date
                            </th>
                            <th>
                                Comments
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    @foreach (TimeSheet.Models.ProjectionModel item in Model.ProjectionList)

                    {
                        <tr>
                            <td class="Id"><span>@item.Id</span> </td>
                            <td>@item.ProjectName</td>
                            <td>@item.OpportunityNumber</td>
                            <td>@item.ProjectManager</td>
                            <td>@item.Activity</td>
                            @*<td>@item.SiteAddress</td>
                                <td>@item.SalesManager</td>*@
                            <td>@item.WarehouseName</td>
                            <td class="Quantity">
                                <span>@item.Quantity</span>
                                <input type="text" value="@item.Quantity" style="display:none" />
                            </td>
                            <td>@item.PriceperUnit</td>
                            <td> @item.PriceperUnitTotal </td>
                            @*<td class="Created"><span>@item.Created.ToString("dd-MM-yyyy")</span> <input type="date" value="@item.Created.ToString("dd-MM-yyyy")" style="display:none" /></td>*@
                            <td>@item.Created.ToString("dd-MM-yyyy")</td>
                            <td class="DateInvoiced"><span>@item.DateInvoiced.ToString("dd-MM-yyyy")</span> <input type="date" value="@item.DateInvoiced.ToString("dd-MM-yyyy")" style="display:none" /></td>

                            <td class="Comments">
                                <span>@item.Comments</span>
                                <input type="text" value="@item.Comments" style="display:none" />
                            </td>
                            <td>
                                <a class="Edit" href="javascript:;">Edit</a>
                                <a class="Update" href="javascript:;" style="display:none">Update</a>
                                <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
                                @*<a class="Delete" href="javascript:;">Delete</a>*@
                            </td>
                        </tr>
                    }
                </table>
            </div>

        </div>

    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
    <script type="text/javascript">
    </script>
}
<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        $('table#tblCustomers').DataTable();
          $('table#MANAGEPROJECTION').DataTable();
        $(function () {
        $("#tabs").tabs();
    });



           $('#ProjectID').change(function () {
                        var loadUrl = '@Url.Action("ProjectOpportunities", "ManageCalender")';
                        var loads = $('#OpportunityID');
                        var id = $(this).val();
                        $.getJSON(loadUrl, { projectid: id }, function (response) {
                            loads.empty(); // remove any existing options
                            loads.append($('<option></option>').text("Select Opportunity").val(0));
                            $.each(response, function (index, item) {
                                loads.append($('<option></option>').text(item.Value).val(item.Id));
                            });
                        });
           });

           $('#OpportunityID').change(function () {
                    var ActivityUrl = '@Url.Action("ProjectActivities", "ManageCalender")';
               var Activities = $('#ActivityId');
                    var id = $(this).val();
                    $.getJSON(ActivityUrl, { OpportunityId: id }, function (response) {
                    Activities.empty();
                        Activities.append($('<option></option>').text("Select a Service").val(0));
                    $.each(response, function (index, item) {
                    Activities.append($('<option></option>').text(item.Value).val(item.Id));
                    });
                    });
           });


                 $('#OpportunityCheckBoxID').change(function () {
               if ($(this).is(":checked")) {
                   var returnVal = confirm("Are you sure?");
                   alert('hi')
                   $(this).attr("checked", returnVal);
               }
                     $('#OpportunityCheckBoxID').val($(this).is(':checked'));
                     $.ajax({
            type: "POST",
            url: "./UpdateProjection",
            data: '{projectionUpdate:' + JSON.stringify("{\"test\":\"test\",\"test1\":\"test1\}") + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
           });


    });

    function AppendRow(row, Id, Quantity, Comments, DateInvoiced) {
        //Bind CustomerId.
        $(".Id", row).find("span").html(Id);

        //Bind Name.
        $(".Quantity", row).find("span").html(Quantity);
        $(".Quantity", row).find("input").val(Quantity);

        //Bind Name.
        $(".DateInvoiced", row).find("span").html(Quantity);
        $(".DateInvoiced", row).find("input").val(Quantity);



        //Bind Country.
        $(".Comments", row).find("span").html(Comments);
        $(".Comments", row).find("input").val(Comments);
        row.find(".Edit").show();

        $("#tblCustomers").append(row);
    };

    //Edit event handler.
    $("body").on("click", "#MANAGEPROJECTION .Edit", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                $(this).find("input").show();
                $(this).find("span").hide();
            }
        });
        row.find(".Update").show();
        row.find(".Cancel").show();

        $(this).hide();
    });

    //Update event handler.
    $("body").on("click", "#MANAGEPROJECTION .Update", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                span.html(input.val());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();

        row.find(".Cancel").hide();
        $(this).hide();
        debugger;
        var projectionUpdate = {};
        projectionUpdate.ProjectID = row.find("input#txtProjectName").val();
        projectionUpdate.OpportunityID = row.find("input#txtOpportunityId").val();
        projectionUpdate.Activity = row.find("input#txtActivityDesc").val();
        projectionUpdate.Quantity = row.find("input#quantity").val();
        projectionUpdate.Created = row.find("input#startTime").val();
        projectionUpdate.DateInvoiced = row.find("input#endTime").val();
        projectionUpdate.WarehouseID = row.find("select#WarehouseID").val();
        projectionUpdate.ServiceActivityId = row.find("hidden#txtServiceActvty").val();
        $.ajax({
            type: "POST",
            url: "./UpdateProjection",
            data: '{projectionUpdate:' + JSON.stringify(projectionUpdate) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
    });
    //Cancel event handler.
    $("body").on("click", "#MANAGEPROJECTION .Cancel", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                input.val(span.html());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        //row.find(".Delete").show();
        row.find(".Update").hide();
        $(this).hide();
    });


     $("body").on("click", "#tblCustomers .Edit", function () {
       // debugger;
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                $(this).find("input").show();
                $(this).find("span").hide();

            }
        });

        row.find(".Update").show();
        row.find(".Cancel").show();

        $(this).hide();
    });

    //Update event handler.
    $("body").on("click", "#tblCustomers .Update", function () {
        debugger;
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                span.html(input.val());
                span.show();
                input.hide();
            }
        });
        row.find(".Edit").show();
        row.find(".Cancel").hide();
        $(this).hide();

        var CandidateEdit = {};
        debugger;
        CandidateEdit.Id= row.find(".Activity").text();
        CandidateEdit.ActualQuantity = row.find(".quantity").text();

        CandidateEdit.StartTime = row.find("span#startTime").html();
        CandidateEdit.EndTime = row.find("span#endTime").html();
        $.ajax({
            type: "POST",
            url: "./UpdateCandidate",
            data: '{CandidateEdit:' + JSON.stringify(CandidateEdit) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
    });
</script>


<style>

    .textarea {
        max-width: 280px;
        font-size: 10px;
        border: 2px;
        outline: 2px;
    }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: #555555;
        cursor: default;
        background-color: orange;
        border: 1px solid #dddddd;
        border-bottom-color: transparent;
    }

    .form-group {
        margin-bottom: 2px;
        padding-right: 0;
        padding-left: 0;
        font-size: 10px;
        border-radius: 9px;
        padding-bottom: 2px;
        margin-top: 0px;
    }

    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FFA500;
        border-color: white;
    }


    .page-item.active .page-link {
        color: white !important;
        background-color: orange !important;
        border-color: gray !important;
    }

    /* Default State */
    .x-nav-tabs > li > a {
        background: #fff;
    }

    /* Active State */
    .x-tab-pane > .active > a, .x-tab-pane > .active > a:hover {
        background-color: #f0f0f0;
    }

    .tab-pane {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-radius: 0px 0px 5px 5px;
        padding: 10px;
    }

    .form-control {
        margin-bottom: 2px;
        padding-right: 0;
        padding-left: 0;
        font-size: 12px;
        font-family: Arial;
        border-radius: 9px;
        padding-bottom: 2px;
        margin-top: 0px;
    }

    .form-group {
        margin-bottom: 2px;
        padding-right: 0;
        padding-left: 0;
        font-size: 10px;
        border-radius: 9px;
        padding-bottom: 2px;
        margin-top: 0px;
    }


    .row-group {
        width: 47%;
        min-height: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        background-color: whitesmoke;
        border: 1px solid #e3e3e3;
        border-radius: 2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    }


    input[type="checkbox"] {
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        background: lightgray;
        height: 16px;
        width: 16px;
        border: 1px solid white;
    }

        input[type="checkbox"]:checked {
            background: #2aa1c0;
        }

        input[type="checkbox"]:hover {
            filter: brightness(90%);
        }

        input[type="checkbox"]:disabled {
            background: #e6e6e6;
            opacity: 0.6;
            pointer-events: none;
        }

        input[type="checkbox"]:after {
            content: '';
            position: relative;
            left: 40%;
            top: 20%;
            width: 15%;
            height: 40%;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            display: none;
        }

        input[type="checkbox"]:checked:after {
            display: block;
        }
</style>
