
@model TimeSheet.Models.InvoiceViewModel

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-12" style="margin-top:10px">
        <div class="row well" style="font-size:smaller; padding:0; margin-bottom:0px">
            <div class="form-group-sm col-md-2 pull-right">
                <div class="col-md-12" style="margin-top:10px">
                    <img src="~/Images/CompanyLogo.jpg" style="height:30px; width:100px; float:right" />
                </div>
            </div>
            <div class="form-group-sm col-md-8 pull-right">
                <div class="col-md-12" style="text-align:center">
                    <h4 style="font-weight:600; margin-top:14px; margin-bottom:14px">Create New Invoice Line</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-left:0px; margin-right:0px">
        <div class="col-md-12" style="margin-top:10px">
            <div class="row well" style="font-size:smaller; padding:0; margin-bottom:0px; ">
                <div class="form-group col-md-6" style="margin-top:10px">
                    @Html.Label("Supplier Name:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <select type="text" class="form-control form-control-sm col-md-6" id="ddlSupplierName" name="SupplierName"></select>
                </div>
                <div class="form-group col-md-6" style="margin-top:10px">
                    @Html.Label("Received Invoice Date:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <input type="date" class="form-control form-control-sm col-md-6" id="txtReceivedInvoiceDate" name="ReceivedInvoiceDate">
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Invoice_Date:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <input type="date" class="form-control form-control-sm col-md-6" id="txtInvoice_Date" name="Invoice_Date">
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Invoice Number:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <input type="text" class="form-control form-control-sm col-md-6" id="txtInvoiceNumber" name="InvoiceNumber">
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Term:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <input type="text" class="form-control form-control-sm col-md-6" id="txtTerm" name="Term">
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Due Date:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <input type="text" class="form-control form-control-sm col-md-6" id="lblDueDate" name="DueDate">
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("DateRecordedinMYOB:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <input class="form-control form-control-sm col-md-6" type="date" id="txtDateRecordedinMYOB" name="DateRecordedinMYOB" placeholder="DateRecordedinMYOB">
                </div>
            </div>
        </div>
    </div>

    <div class="row well" style="margin-left:0px; margin-right:0px; margin-top:10px;margin-bottom:10px; padding:5px">
        <form id="MainForm">
            <div class="form-group col-md-2">
                @Html.Label("PO#:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
                <input class="form-control form-control-sm col-md-12" type="text" id="txtPO" name="PO" placeholder="PO#">
            </div>
            <div class="form-group col-md-2">
                @Html.Label("Opp#:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
                <input class="form-control form-control-sm col-md-12" type="text" id="txtOpp" name="Opp" placeholder="Opp#">
            </div>
            <div class="form-group col-md-2">
                @Html.Label("Line:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
                <input class="form-control form-control-sm col-md-12" type="text" id="txtLine" name="Line" placeholder="Line">
            </div>

            <div class="form-group col-md-2">
                @Html.Label("InvoiceAmount:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
                <input class="form-control form-control-sm col-md-12" type="text" id="txtInvoiceAmount_ex_gst" name="InvoiceAmount_ex_gst" placeholder="$InvoiceAmount Ex GST">
            </div>

            <div class="form-group col-md-2">
                @Html.Label("TaxCode:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
                <input class="form-control form-control-sm col-md-12" type="text" id="txtTaxCode" name="TaxCode" placeholder="TaxCode">
            </div>
            <div class="form-group col-md-2" style="margin-bottom:21px">
                @Html.Label("Project:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
                <select type="text" class="form-control col-md-12" id="txtProject_Job" name="Supplier" placeholder="Project"></select>
            </div>
            <div class="form-group col-md-2" style="margin-bottom:21px">
                @Html.Label("Approver:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
                <select type="text" class="form-control col-md-12" id="txtApprover" name="Approvedby"></select>
            </div>
            <div class="form-group col-md-2">
                @Html.Label("Description:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
                <input class="form-control form-control-sm col-md-12" type="text" id="txtInvoice_Description" name="Invoice_Description" placeholder="Invoice Description">
            </div>
            <div class="form-group col-md-2" style="margin-bottom:21px">
                @Html.Label("PM/WH/HO:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
                @*<input class="form-control form-control-sm col-md-12" type="text" id="txtPM_Warehouse_HO" name="PM_Warehouse_HO" placeholder="PM_Warehouse_HO">*@
                <select type="text" class="form-control form-control-sm col-md-12" id="txtPM_Warehouse_HO" name="employeeName"></select>
            </div>
            <div class="form-group col-md-2">
                @Html.Label("Comments:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
                <input class="form-control form-control-sm col-md-12" type="text" id="txtComments" name="Comments" placeholder="Comments">
            </div>
            <div class="form-group col-md-2" style="margin-bottom:21px">
                @Html.Label("GLDescription:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
                <select type="text" class="form-control form-control-sm col-md-12" id="ddlGLDescription" name="GLDescription"></select>
            </div>
            <div class="form-group col-md-2" style="margin-bottom:21px">
                @Html.Label("GLCode:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
                <select type="text" class="form-control form-control-sm col-md-12" id="ddlGLCode" name="GLCode"></select>
            </div>
            <div class="form-group col-md-2" style="margin-bottom:21px">
                @Html.Label("Branch:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
                <select type="text" class="form-control form-control-sm col-md-12" id="ddlBranch" name="Branch">
                    <option>Select Branch</option>
                    <option>Sydney</option>
                    <option>Melbourne</option>
                    <option>Brisbane</option>
                    <option>Canberra</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                @Html.Label("MYOBItemNumber:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
                <input class="form-control form-control-sm col-md-12" type="text" id="txtMYOBItemNumber" name="MYOBItemNumber" placeholder="MYOBItemNumber">
            </div>
            <div class="form-group col-md-2">
                @Html.Label("InvoiceLocation:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
                <input class="form-control form-control-sm col-md-12" type="text" id="txtInvoiceLocation" name="InvoiceLocation" placeholder="InvoiceLocation">
            </div>

            <button type="button" id="delete-row" class="btn btn-danger btn-sm pull-right" style="margin-top:30px; ">Delete Row</button>
            <input type="button" id="add-row" class="btn btn-success btn-sm pull-right" style="margin-top: 30px;margin-right:5px;" value="Add Row">
        </form>
        <table id="CreateNewInvoiceLineTable" class="table table-bordered table-hover table-sm table-responsive" style="font-size:smaller; font-weight:600">
            <thead style="background-color:orange; color: white">
                <tr>
                    <th>Select</th>
                    <th>PO#</th>
                    <th>Opp#</th>
                    <th>Line</th>
                    <th>InvoiceAmount ex gst</th>
                    <th>Tax Code</th>
                    <th>Project Job</th>
                    <th>Approver</th>
                    <th>Invoice Detail</th>
                    <th>PM/WH/HO</th>
                    <th>Comments</th>
                    <th>MYOB Item Number</th>
                    <th>Invoice Location</th>
                    <th>GL Code</th>
                    <th>GL Description</th>
                    <th>Branch</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="row" style="margin-left:15px; margin-right:15px; margin-top:10px;margin-bottom:10px">
        <div class="row well" style="font-size:smaller; padding:5px; margin-bottom:0px">
            <button type="submit" class="btn btn-warning btn-sm pull-right" id="CreateInvoiceLineBtn" style="font-size:13px; margin-bottom:5px;font-weight:600">REGISTER INVOICE</button>
        </div>
    </div>


}

<script>
    $(document).ready(function () {
        SupplierLoadDropDowns();
        GLCodeLoadDropDowns();
        GLCodeDescriptionLoadDropDowns();
        GetProjectList();
        ApprovedbyLoadDropDowns();
        CardHolderLoadDropDowns();
        $("select").select2();

        var Invoice_Date = $("#txtInvoice_Date").val();
        $("#lblDueDate").val(Invoice_Date);

        var CreateNewInvoiceLine = {};
        CreateNewInvoiceLine.InvoiceLineItem = new Array();

        $("#add-row").click(function () {
            var PO = $("#txtPO").val();
            var Opp = $("#txtOpp").val();
            var Line = $("#txtLine").val();
            var InvoiceAmount_ex_gst = $("#txtInvoiceAmount_ex_gst").val();
            var TaxCode = $("#txtTaxCode").val();
            var ProjectJob = $("#txtProject_Job").val();
            var Approver = $("#txtApprover").val();
            var Invoice_Description = $("#txtInvoice_Description").val();
            var PMWarehouseHO = $("#txtPM_Warehouse_HO").val();
            var Comments = $("#txtComments").val();
            var MYOBItemNumber = $("#txtMYOBItemNumber").val();
            var InvoiceLocation = $("#txtInvoiceLocation").val();
            var GLCode = $("#ddlGLCode").val();
            var GLDescription = $("#ddlGLDescription").val();
            var Branch = $("#ddlBranch").val();
            //var DateRecordedinMYOB = $("#txtDateRecordedinMYOB").val();
            var markup = "<tr><td><input type='checkbox' name='record'></td><td>"
                + PO + "</td><td>"
                + Opp + "</td><td>"
                + Line + "</td><td>"
                + InvoiceAmount_ex_gst + "</td><td>"
                + TaxCode + "</td><td>"
                + ProjectJob + "</td><td>"
                + Approver + "</td><td>"
                + Invoice_Description + "</td><td>"
                + PMWarehouseHO + "</td><td>"
                + Comments + "</td><td>"
                + MYOBItemNumber + "</td><td>"
                + InvoiceLocation + "</td><td>"
                + GLCode + "</td><td>"
                + GLDescription + "</td><td>"
                + Branch + "</td></tr>";
            if (PO == '' || Opp == '' || Line == '' || InvoiceAmount_ex_gst == '' || TaxCode == '' || ProjectJob == '' || Approver == ''
                || Invoice_Description == '' || PMWarehouseHO == '' || MYOBItemNumber == '' || InvoiceLocation == ''
                || GLCode == '' || GLCode == -1 || GLDescription == '' || GLDescription == -1 || Branch == '' || Branch == -1) {
                $.alert({
                    title: 'Validation Errors',
                    content: 'Please complete all forms.',
                    // .css("color", "red"),
                });
                return false;
            }

            if (PO.length > 8 || PO.length < 8) {
                $.alert({
                    title: 'Validation Errors',
                    content: 'PO Value must be 8 Digits! Please Enter Valid PO.',

                });
                return false;
            }

            if (Opp.length > 6 || Opp.length < 6) {
                $.alert({
                    title: 'Validation Errors',
                    content: 'Opp Value must be 6 Digits! Please Enter Valid Opp.',

                });
                return false;
            }

            if (PO[0] !== Opp[0] || PO[1] !== Opp[1] || PO[2] !== Opp[2] || PO[3] !== Opp[3] || PO[4] !== Opp[4] || PO[5] !== Opp[5]) {
                $.alert({
                    title: 'Validation Errors',
                    content: 'The first 6 digits of PO and Opp should be the same! Please Enter Valid PO or Opp.',

                });
                return false;
            }

            if (TaxCode.length > 3 || TaxCode.length < 3) {
                $.alert({
                    title: 'Validation Errors',
                    content: 'Tax Code Value must be 3 Digits! Please Enter Valid Tax Code.',

                });
                return false;
            }

            $("#CreateNewInvoiceLineTable tbody").append(markup);

            var InvoiceItem = {};
            InvoiceItem.Line = Line;
            InvoiceItem.InvoiceAmount_ex_gst = InvoiceAmount_ex_gst;
            InvoiceItem.Project = TaxCode;
            InvoiceItem.Project_Job = ProjectJob;
            InvoiceItem.Approver = Approver;
            InvoiceItem.Invoice_Description = Invoice_Description;
            InvoiceItem.PM_Warehouse_HO = PMWarehouseHO;
            InvoiceItem.Comments = Comments;
            InvoiceItem.MYOBItemNumber = MYOBItemNumber;
            InvoiceItem.InvoiceLocation = InvoiceLocation;
            InvoiceItem.GLCode = GLCode;
            InvoiceItem.GLDescription = GLDescription;
            InvoiceItem.Branch = Branch;
            //InvoiceItem.DateRecordedinMYOB = DateRecordedinMYOB;
            CreateNewInvoiceLine.InvoiceLineItem.push(InvoiceItem);
        });

        $("#CreateInvoiceLineBtn").click(function () {

            CreateNewInvoiceLine.SupplierName = $("#ddlSupplierName").val();
            CreateNewInvoiceLine.ReceivedInvoiceDate = $("#txtReceivedInvoiceDate").val();
            CreateNewInvoiceLine.Invoice_Date = $("#txtInvoice_Date").val();
            CreateNewInvoiceLine.InvoiceNumber = $("#txtInvoiceNumber").val();
            CreateNewInvoiceLine.Term = $("#txtTerm").val();
            CreateNewInvoiceLine.DueDate = $("#txtDueDate").val();
            CreateNewInvoiceLine.DateRecordedinMYOB = $("#txtDateRecordedinMYOB").val();


            var ErrorMessage = '';

            if (CreateNewInvoiceLine.SupplierName == '' || CreateNewInvoiceLine.SupplierName == -1) {
                ErrorMessage += 'Supplier Name is Required.\n ';
            }
            if (CreateNewInvoiceLine.ReceivedInvoiceDate == '') {
                ErrorMessage += 'Received Invoice Date is Required. \n';

            }
            if (CreateNewInvoiceLine.Invoice_Date == '') {
                ErrorMessage += 'Invoice Date is Required. \n';
            }
            if (CreateNewInvoiceLine.InvoiceNumber == '') {
                ErrorMessage += 'Invoice Number is Required. \n';
            }
            if (CreateNewInvoiceLine.Term == '') {
                ErrorMessage += 'Term is Required. \n';
            }
            if (CreateNewInvoiceLine.DueDate == '') {
                ErrorMessage += 'Due Date is Required. \n';
            }
            if (CreateNewInvoiceLine.InvoiceLineItem.length == 0) {
                ErrorMessage += 'At least One Invoice Line is Required. \n';
            }
            if (ErrorMessage != '') {
                $.alert({
                    title: 'Validation Errors',
                    content: ErrorMessage,
                    // .css("color", "red"),
                });
                return false;
            }
            $.ajax({
                type: "POST",
                url: "./CreateNewInvoiceLine",
                data: JSON.stringify(CreateNewInvoiceLine),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    //   window.location.href = "./ExportTimesSheetToExcel?path=" + r.fileName;
                    //$.alert({
                    //    title: 'Invoice Registered Successfuly!',
                    //    content: ''
                    //    // .css("color", "red"),
                    //});
                    window.location.href = "./InvoiceApprovals";
                }
            });
        });

        // Find and remove selected table rows
        $("#delete-row").click(function () {
            $("#CreateNewInvoiceLineTable tbody").find('input[name="record"]').each(function () {
                if ($(this).is(":checked")) {
                    var evID = $(this).closest('tr').index();
                    $(this).parents("tr").remove();
                    CreateNewInvoiceLine.InvoiceLineItem.splice(evID, 1);
                }
            });
        });


        $("#txtPO").on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

        $("#txtOpp").on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

        $("#txtLine").on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

        $("#txtInvoiceAmount_ex_gst").on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

        $("#txtTaxCode").on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

    });



    function SupplierLoadDropDowns()
    {
        $.ajax({
               type: "GET",
               url: '@Url.Action("GetSuppliers", "CorporateExpenseClaimer")',
               contentType: "application/json; charset=utf-8",
            data: {},
               datatype: "json",
               success: function (data) {
                   var s = '<option value="-1">Select a Supplier</option>';
               for (var i = 0; i < data.length; i++) {
                   s += '<option value="' + data[i].Id + '">' + data[i].Value + '</option>';
               }
              $("#ddlSupplierName").html(s);
           }
          });
    }

    function GLCodeLoadDropDowns()
    {
        $.ajax({
               type: "GET",
               url: '@Url.Action("GetGLCodes", "CorporateExpenseClaimer")',
               contentType: "application/json; charset=utf-8",
             data: {},
               datatype: "json",
               success: function (data) {
                   var s = '<option value="-1">Select GLCode</option>';
               for (var i = 0; i < data.length; i++) {
                   s += '<option value="' + data[i].Id + '">' + data[i].Id + '</option>';
               }
               $("#ddlGLCode").html(s);
           }
          });
    }

    function GLCodeDescriptionLoadDropDowns()
    {
        $.ajax({
               type: "GET",
               url: '@Url.Action("GetGLCodes", "CorporateExpenseClaimer")',
               contentType: "application/json; charset=utf-8",
             data: {},
               datatype: "json",
               success: function (data) {
                   var s = '<option value="-1">Select GL-Description</option>';
               for (var i = 0; i < data.length; i++) {
                   s += '<option value="' + data[i].Value + '">' + data[i].Value + '</option>';
               }
              $("#ddlGLDescription").html(s);
           }
          });
    }

    function GetProjectList()
        {
            $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetProjectList", "CorporateExpenseClaimer")',
                    contentType: "application/json; charset=utf-8",
                    data: {},
                    datatype: "json",
                    success: function (data) {
                        var s = '<option value="-1">Select a Project</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].Value + '">' + data[i].Value + '</option>';
                    }
                        $("#txtProject_Job").html(s);
                }
            });
    }

    function ApprovedbyLoadDropDowns()
        {
            $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetCardHolders", "CorporateExpenseClaimer")',
                    contentType: "application/json; charset=utf-8",
                    data: {},
                    datatype: "json",
                    success: function (data) {
                        var s = '<option value="-1">Select a Approvedby</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].Value + '">' + data[i].Value + '</option>';
                    }
                        $("#txtApprover").html(s);
                }
            });
    }
    function CardHolderLoadDropDowns()
        {
            $.ajax({
                   type: "GET",
                   url: '@Url.Action("GetCardHolders", "CorporateExpenseClaimer")',
                   contentType: "application/json; charset=utf-8",
                 data: {},
                   datatype: "json",
                   success: function (data) {
                       var s = '<option value="-1">Select a PM_Warehouse_HO</option>';
                       for (var i = 0; i < data.length; i++) {
                           s += '<option value="' + data[i].Value + '">' + data[i].Value + '</option>';
                   }
                       $("#txtPM_Warehouse_HO").html(s);
               }
            });
    }

</script>
