
@model IEnumerable<TimeSheet.Models.CorporateCardExpenseClaimModel>
@{
    ViewBag.Title = "ExpenseClaims";
}
<div class="row well" style="margin-left:15px; margin-right:15px; margin-top:40px;margin-bottom:0">
    <table class="table table-bordered table-hover table-sm table-responsive" style="font-size:smaller; font-weight:600">
        <thead style="background-color:orange; color: white">
            <tr>
                <th>ClaimID</th>
                <th>ClaimDate</th>
                <th>EmployeeName</th>
                <th>CreditCardNo</th>
                <th>ExpenseClaimType</th>
                <th>ApprovedBy</th>
                <th>Accommodation</th>
                <th>ToolsTotal</th>
                <th>Meals</th>
                <th>Other</th>
                <th>Travel</th>
                <th>Total</th>
                <th>SharePointFileLocation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>  @Html.DisplayFor(modelItem => item.Id)</td>
                <td>  @Html.DisplayFor(modelItem => item.ExpenseDateOfClaim)</td>
                <td>  @Html.DisplayFor(modelItem => item.EmployeeName)</td>
                <td>  @Html.DisplayFor(modelItem => item.CreditCardNo)</td>
                <td>  @Html.DisplayFor(modelItem => item.ExpenseClaimType)</td>
                <td>  @Html.DisplayFor(modelItem => item.ApprovedBy)</td>
                <td>  @Html.DisplayFor(modelItem => item.AccommodationTotal)</td>
                <td>  @Html.DisplayFor(modelItem => item.ToolsTotal)</td>
                <td>  @Html.DisplayFor(modelItem => item.MealsTotal)</td>
                <td>  @Html.DisplayFor(modelItem => item.OtherTotal)</td>
                <td>  @Html.DisplayFor(modelItem => item.TravelTotal)</td>
                <td>  @Html.DisplayFor(modelItem => item.ExpenseTotal)</td>
                <td>  @Html.DisplayFor(modelItem => item.SharePointFileLocation)</td>               
            </tr>
            }
            </tbody>
    </table>
</div>

