@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>


<div class="col-md-12" style="margin-top:10px">
    <div class="form-horizontal well" style="font-size:smaller; padding:0; margin-bottom:0px">
        <div class="form-group" style="margin-bottom:0">
            <div class="form-group-sm col-md-2 pull-right">
                <div class="col-md-12" style="margin-top:10px">
                    <img src="~/Images/CompanyLogo.jpg" style="height:30px; width:100px; float:right" />
                </div>
            </div>
            <div class="form-group-sm col-md-8 pull-right">
                <div class="col-md-12" style="text-align:center">
                    <h4 style="font-weight:600; margin-top:18px">CREDIT CARD EXPENSE REPORT</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-left:0px; margin-right:0px">
    <div class="col-md-6" style="margin-top:10px">
        <div class="form-horizontal well" style="font-size:smaller; padding:0; margin-bottom:0px; ">
            <div class="form-group" style="margin-top:5px; margin-bottom:0px">
                <div class="form-group col-md-6" style="margin-bottom:10px; margin-top:20px">
                    @Html.Label("Employee Name:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6" style="margin-top:7px;">
                        <select type="text" class="form-control col-md-6" id="txtemployeeName" name="employeeName"></select>
                    </div>
                </div>
                <div class="form-group col-md-6" style="margin-bottom:10px; margin-top:20px">
                    @Html.Label("Date of Claim:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6" style="margin-top:7px">
                        <input type="date" class="form-control form-control-sm" id="txtDateofClaim" name="DateofClaim">
                    </div>
                </div>
                <div class="form-group col-md-6" style="margin-bottom:10px; margin-top:10px">
                    @Html.Label("Branch:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6" style="margin-top:7px">
                        <select type="text" class="form-control form-control-sm" id="txtBranch" name="Branch">
                            <option value="-1">Select a Branch</option>
                            <option>Sydney</option>
                            <option>Melbourne</option>
                            <option>Brisbane</option>
                            <option>Canberra</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6" style="margin-bottom:10px; margin-top:10px">
                    @Html.Label("Approved by:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6" style="margin-top:7px">
                        <select type="text" class="form-control col-md-6" id="txtApprovedby" name="Approvedby"></select>
                    </div>
                </div>
                @*<div class="form-group col-md-6" style="margin-bottom:40px; margin-top:10px">
                        @Html.Label("Credit Card No:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                        <div class="col-md-6" style="margin-top:7px">
                            <input type="text" class="form-control form-control-sm" id="txtCreditCardNo" name="CreditCardNo">
                        </div>
                    </div>*@
                <div class="form-group col-md-6" style="margin-bottom:40px; margin-top:10px">
                    @Html.Label("Claim-Type:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6" style="margin-top:7px">
                        <select type="text" class="form-control form-control-sm" id="txtExpenseClaimType" name="ExpenseClaimType" title="Claim-Type">
                            <option value="-1">Select a ClaimType</option>
                            <option>Corporate</option>
                            <option>Personal</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="margin-top:8px">
        <div class="form-horizontal well" style="font-size:smaller; padding:0; margin-bottom:0px">
            <div class="form-group" style="margin-bottom:5px">
                <div class="form-group col-md-12" style="padding-top:5px; padding-bottom:10px">
                    @Html.Label("Expenses Summary", htmlAttributes: new { @class = "control-label col-md-12", style = "text-align:center; font-weight:800" })
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Travel:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center; padding-top:0" })
                    <div class="col-md-6">
                        <input type="text" id="lbltraveltotal" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Accommodation:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center; padding-top:0" })
                    <div class="col-md-6">
                        <input type="text" id="lblaccomdationtotal" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Meals:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center; padding-top:0" })
                    <div class="col-md-6">
                        <input type="text" id="lblMealstotal" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Tools:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center; padding-top:0" })
                    <div class="col-md-6">
                        <input type="text" id="lblToolstotal" />
                    </div>
                </div>

                <div class="form-group col-md-6">
                    @Html.Label("WHConsumables:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6">
                        <input type="text" id="lblWHTools_Consumablestotal" placeholder="$ WHTools Or Consumables Total" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Vehicle Maintenance:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6">
                        <input type="text" id="lblVehicleRepairs_Maintenancetotal" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Subscriptions:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6">
                        <input type="text" id="lblMonthly_Subscriptionstotal" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("ITExpenses:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center; padding-top:0" })
                    <div class="col-md-6">
                        <input type="text" id="lblITExpensestotal" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Postage:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center; padding-top:0" })
                    <div class="col-md-6">
                        <input type="text" id="lblPostagetotal" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Telephone:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center; padding-top:0" })
                    <div class="col-md-6">
                        <input type="text" id="lblTelephonetotal" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Staff Amenities:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6">
                        <input type="text" id="lblStaffAmenitiestotal" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Client Entertainment:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6">
                        <input type="text" id="lblClientEntertainmenttotal" />
                    </div>
                </div>

                <div class="form-group col-md-6">
                    @Html.Label("Other:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center; padding-top:0" })
                    <div class="col-md-6">
                        <input type="text" id="lblOthertotal" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Grand Total Amount:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6">
                        <input type="text" id="lbltotalExpense" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row well" style="margin-left:15px; margin-right:15px; margin-top:10px;margin-bottom:0">
    <form id="MainForm">
        <div class="form-group col-md-2">
            @Html.Label("Date:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
            <input class="form-control form-control-sm col-md-12" type="Date" id="txtDate" name="Date" placeholder="Date">
        </div>
        <div class="form-group col-md-2">
            @Html.Label("Supplier:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
            @*<select type="text" class="form-control form-control-sm col-md-12" id="txtSupplier" name="Supplier" placeholder="Supplier"></select>*@
            <input class="form-control form-control-sm col-md-12" type="text" id="txtSupplier" name="Supplier" placeholder="Supplier">
        </div>
        <div class="form-group col-md-2">
            @Html.Label("Description:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
            <input class="form-control form-control-sm col-md-12" type="text" id="txtDescription" name="Description" placeholder="Description">
        </div>

        <div class="form-group col-md-2">
            @Html.Label("Project:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
            <select type="text" class="form-control col-md-12" id="txtProject" name="Supplier" placeholder="Project"></select>
            @*<input class="form-control form-control-sm col-md-12" type="text" id="txtProject" name="Project" placeholder="Project">*@
        </div>
        <div class="form-group col-md-2">
            @Html.Label("PO Number:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
            <input class="form-control form-control-sm col-md-12" type="text" id="txtPONumber" name="PONumber" placeholder="PO Number">
        </div>
        <div class="form-group col-md-2">
            @Html.Label("Travel:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
            <input class="form-control form-control-sm col-md-12" type="text" id="txtTravel" name="Travel" placeholder="$Travel Cost">
        </div>
        <div class="form-group col-md-2">
            @Html.Label("Acommodation:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
            <input class="form-control form-control-sm col-md-12" type="text" id="txtAcommodation" name="Acommodation" placeholder="$ Acommodation Cost">
        </div>
        <div class="form-group col-md-2">
            @Html.Label("Meals:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
            <input class="form-control form-control-sm col-md-12" type="text" id="txtMeals" name="Meals" placeholder="$ Meals Cost">
        </div>
        <div class="form-group col-md-2">
            @Html.Label("Tools:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
            <input class="form-control form-control-sm col-md-12" type="text" id="txtTools" name="Tools" placeholder="$ Tools Cost">
        </div>
        <div class="form-group col-md-2">
            @Html.Label("WHConsumables:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
            <input class="form-control form-control-sm col-md-12" type="text" id="txtWHTools_Consumables" name="WHTools_Consumables" placeholder="$ WHTools Or Consumables Cost">
        </div>
        <div class="form-group col-md-2">
            @Html.Label("VehicleMaintenance:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
            <input class="form-control form-control-sm col-md-12" type="text" id="txtVehicleRepairs_Maintenance" name="VehicleRepairs_Maintenance" placeholder="$ VehicleRepairs or Maintenance">
        </div>
        <div class="form-group col-md-2">
            @Html.Label("Subscriptions:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
            <input class="form-control form-control-sm col-md-12" type="text" id="txtMonthly_Subscriptions" name="Monthly_Subscriptions" placeholder="$ Monthly Subscriptions Cost">
        </div>
        <div class="form-group col-md-2">
            @Html.Label("ITExpenses:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
            <input class="form-control form-control-sm col-md-12" type="text" id="txtITExpenses" name="ITExpenses" placeholder="$ ITExpenses Cost">
        </div>
        <div class="form-group col-md-2">
            @Html.Label("Postage:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
            <input class="form-control form-control-sm col-md-12" type="text" id="txtPostage" name="Postage" placeholder="$ Postage Cost">
        </div>
        <div class="form-group col-md-2">
            @Html.Label("Telephone:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
            <input class="form-control form-control-sm col-md-12" type="text" id="txtTelephone" name="Telephone" placeholder="$ Telephone Cost">
        </div>
        <div class="form-group col-md-2">
            @Html.Label("StaffAmenities:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
            <input class="form-control form-control-sm col-md-12" type="text" id="txtStaffAmenities" name="StaffAmenities" placeholder="$ Staff Amenities Cost">
        </div>
        <div class="form-group col-md-2">
            @Html.Label("ClientEntertainment:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
            <input class="form-control form-control-sm col-md-12" type="text" id="txtClientEntertainment" name="ClientEntertainment" placeholder="$ Client Entertainment Cost">
        </div>
        <div class="form-group col-md-2">
            @Html.Label("Other:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
            <input class="form-control form-control-sm col-md-12" type="text" id="txtOther" name="Other" placeholder="$ Other Cost">
        </div>
        <div class="form-group col-md-2">
            @Html.Label("Branch:", htmlAttributes: new { @class = "control-label col-md-12", style = "margin-top:5px; padding-left:0" })
           
                <select type="text" class="form-control form-control-sm" id="txtExpenseItemBranch" name="Branch">
                    <option value="-1">Select a Branch</option>
                    <option>Sydney</option>
                    <option>Melbourne</option>
                    <option>Brisbane</option>
                    <option>Canberra</option>
                </select>            
        </div>
        <input type="button" class="btn btn-danger btn-sm pull-right" id="delete-row" value="DELETE ROW" style="margin-bottom:10px; margin-top:30px; margin-right:12px" />
        <input type="button" id="add-row" class="btn btn-success btn-sm pull-right" value="ADD ROW" style="margin-bottom:10px; margin-top:30px; margin-right:10px" />
    </form>
    <table id="CreditCardTable" class="table table-bordered table-hover table-sm table-responsive" style="font-size:x-small; font-weight:600">
        <thead style="background-color:orange; color: white">
            <tr>
                <th>Select</th>
                <th>Date</th>
                <th>Supplier</th>
                <th>Description</th>
                <th>Project</th>
                <th>PO</th>
                <th>Travel</th>
                <th>Acommodation</th>
                <th>Meals</th>
                <th>Tools</th>
                <th>WHTools-Consumables</th>
                <th>VehicleRepairs-Maintenance</th>
                <th>Subscriptions</th>
                <th>ITExpenses</th>
                <th>Postage</th>
                <th>Telephone</th>
                <th>StaffAmenities</th>
                <th>ClientEntertainment</th>
                <th>Other</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody style="font-size:x-small; text-align:center">
        </tbody>
    </table>
</div>

<div class="row" style="margin-left:15px; margin-right:15px; margin-top:10px;margin-bottom:0">
    <div class="form-horizontal well" style="font-size:smaller; padding:5px; margin-bottom:0px">
        <div class="form-group" style="margin-bottom:0; padding-bottom:0">
            <form id="testForm">

                <div class=" form-group col-md-4">
                    @Html.Label("Manager Approval: ", htmlAttributes: new { @class = "control-label col-md-4", style = "padding-top:12px" })
                    <div class="col-md-6" style="margin-top:5px">
                        <input type="text" class="form-control form-control-sm" id="txtManagerSignature" name="ManagerSignature" placeholder="">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    @Html.Label("Receipts SharePoint Location: ", htmlAttributes: new { @class = "control-label col-md-6", style = "padding-top:12px" })
                    <div class="col-md-6" style="margin-top:5px">
                        <input type="text" class="form-control form-control-sm" id="txtInvoicesLocation" name="InvoicesLocation" placeholder="">
                    </div>
                </div>
                <div class="form-group col-md-1 pull-right">
                    <div class="col-md-12" style="margin-top:5px">
                        <button type="submit" class="btn btn-warning btn-sm pull-right" id="CreateClaimBtn" style="font-size:13px;font-weight:600">REGISTER CLAIM</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("select").select2();
        CardHolderLoadDropDowns();
        //SupplierLoadDropDowns();
        GetProjectList();
        ApprovedbyLoadDropDowns();

        var MainModelExpenseCliams = {};
        MainModelExpenseCliams.CorporateCardExpenseClaimItems = new Array();
        var _totalExpense = 0;
        var _RowtotalExpense = 0;
        var _TravelTotal = 0;
        var _ToolsTotal = 0;
        var _WHTools_Consumables = 0;
        var _VehicleRepairs_Maintenance = 0;
        var _Monthly_Subscriptions = 0;
        var _ITExpenses = 0;
        var _Postage = 0;
        var _Telephone = 0;
        var _StaffAmenities = 0;
        var _ClientEntertainment = 0;
        var _OtherTotal = 0;
        var _MealsTotal = 0;
        var _AccommodationTotal = 0;

        $("#add-row").click(function () {

            var Date = $("#txtDate").val();
            var Supplier = $("#txtSupplier").val();
            var Description = $("#txtDescription").val();
            var Project = $("#txtProject").val();
            var PONumber = $("#txtPONumber").val();
            var Travel = $("#txtTravel").val();
            var Acommodation = $("#txtAcommodation").val();
            var Meals = $("#txtMeals").val();
            var Tools = $("#txtTools").val();
            var WHTools_Consumables = $("#txtWHTools_Consumables").val();
            var txtVehicleRepairs_Maintenance = $("#txtVehicleRepairs_Maintenance").val();
            var txtMonthly_Subscriptions = $("#txtMonthly_Subscriptions").val();
            var ITExpenses = $("#txtITExpenses").val();
            var Postage = $("#txtPostage").val();
            var Telephone = $("#txtTelephone").val();
            var StaffAmenities = $("#txtStaffAmenities").val();
            var ClientEntertainment = $("#txtClientEntertainment").val();
            var ExpenseItemBranch = $("#txtExpenseItemBranch").val(); 
            var Other = $("#txtOther").val();
            _RowtotalExpense = (parseInt(Acommodation) + parseInt(Meals) + parseInt(Tools) + parseInt(WHTools_Consumables) + parseInt(txtVehicleRepairs_Maintenance)
                + parseInt(txtMonthly_Subscriptions) + parseInt(ITExpenses) + parseInt(Postage) + parseInt(Telephone) + parseInt(StaffAmenities)
                + parseInt(ClientEntertainment) + parseInt(Other) + parseInt(Travel));
            var Total = _RowtotalExpense;
            var markup = "<tr><td><input type='checkbox' name='record'></td><td>"
                + Date + "</td><td>"
                + Supplier + "</td><td>"
                + Description + "</td><td>"
                + Project + "</td><td>"
                + PONumber + "</td><td>"
                + ExpenseItemBranch + "</td><td>"            
                + Travel + "</td><td>"
                + Acommodation + "</td><td>"
                + Meals + "</td><td>"
                + Tools + "</td><td>"
                + WHTools_Consumables + "</td><td>"
                + txtVehicleRepairs_Maintenance + "</td><td>"
                + txtMonthly_Subscriptions + "</td><td>"
                + ITExpenses + "</td><td>"
                + Postage + "</td><td>"
                + Telephone + "</td><td>"
                + StaffAmenities + "</td><td>"
                + ClientEntertainment + "</td><td>"
                + Other + "</td><td>"
                + Total + "</td></tr>";

        // public decimal ? AccommodationCost { get; set; }
		//public decimal ? ToolsCost { get; set; }
		//public decimal ? WHTools_Consumables { get; set; }
		//public decimal ? VehicleRepairs_Maintenance { get; set; }
		//public decimal ? Monthly_Subscriptions { get; set; }
		//public decimal ? ITExpenses { get; set; }
		//public decimal ? Postage { get; set; }
		//public decimal ? Telephone { get; set; }
		//public decimal ? StaffAmenities { get; set; }
		//public decimal ? ClientEntertainment { get; set; }
		//public decimal ? OtherCost { get; set; }
		//public decimal ? ExpenseTotal { get; set; }
		//public DateTime ? CreatedDate { get; set; }

            if (Date == '' || Supplier == '' || Supplier == -1 || Description == '' || Project == '' || PONumber == '' || Travel == ''
                || Acommodation == '' || Meals == '' || Tools == '' || WHTools_Consumables == '' || txtVehicleRepairs_Maintenance == ''
                || txtMonthly_Subscriptions == '' || ITExpenses == '' || Postage == '' || Telephone == '' || StaffAmenities == '' || ClientEntertainment == ''
                || Other == '') {
                $.alert({
                    title: 'Validation Errors',
                    content: 'Please complete all forms.',
                    // .css("color", "red"),
                });
                return false;
            }
            $("table tbody").append(markup);

            var CliamLineItem = {};
            CliamLineItem.ClaimDate = Date;
            CliamLineItem.Supplier = Supplier;
            CliamLineItem.ItemDescription = Description;
            CliamLineItem.Project = Project;
            CliamLineItem.PONumber = Travel;
            CliamLineItem.PONumber = PONumber;
            CliamLineItem.AccommodationCost = Acommodation;
            CliamLineItem.MealsCost = Meals;
            CliamLineItem.ToolsCost = Tools;
            CliamLineItem.WHTools_Consumables = WHTools_Consumables;
            CliamLineItem.VehicleRepairs_Maintenance = txtVehicleRepairs_Maintenance;
            CliamLineItem.Monthly_Subscriptions = txtMonthly_Subscriptions;
            CliamLineItem.ITExpenses = ITExpenses;
            CliamLineItem.Postage = Postage;
            CliamLineItem.Telephone = Telephone;
            CliamLineItem.StaffAmenities = StaffAmenities;
            CliamLineItem.ClientEntertainment = ClientEntertainment;
            CliamLineItem.OtherCost = Other;
            CliamLineItem.TravelCost = Travel;
            CliamLineItem.Branch = ExpenseItemBranch;
            CliamLineItem.ExpenseTotal = Total;
            MainModelExpenseCliams.CorporateCardExpenseClaimItems.push(CliamLineItem);
            if (MainModelExpenseCliams.CorporateCardExpenseClaimItems.length != 0) {
                _totalExpense += (parseInt(Acommodation) + parseInt(Meals) + parseInt(Tools) + parseInt(WHTools_Consumables) + parseInt(txtVehicleRepairs_Maintenance)
                    + parseInt(txtMonthly_Subscriptions) + parseInt(ITExpenses) + parseInt(Postage) + parseInt(Telephone) + parseInt(StaffAmenities)
                    + parseInt(ClientEntertainment) + parseInt(Other) + parseInt(Travel));

                _TravelTotal += (parseInt(Travel));
                _ToolsTotal += (parseInt(Tools));
                _WHTools_Consumables += (parseInt(WHTools_Consumables));
                _VehicleRepairs_Maintenance += (parseInt(txtVehicleRepairs_Maintenance));
                _Monthly_Subscriptions += (parseInt(txtMonthly_Subscriptions));
                _ITExpenses += (parseInt(ITExpenses));
                _Postage += (parseInt(Postage));
                _Telephone += (parseInt(Telephone));
                _StaffAmenities += (parseInt(StaffAmenities));
                _ClientEntertainment += (parseInt(ClientEntertainment));
                _OtherTotal += (parseInt(Other));
                _MealsTotal += (parseInt(Meals));
                _AccommodationTotal += (parseInt(Acommodation));

                $("#lbltraveltotal").val(_TravelTotal);
                $("#lblOthertotal").val(_OtherTotal);
                $("#lblToolstotal").val(_ToolsTotal);
                $("#lblWHTools_Consumablestotal").val(_WHTools_Consumables);
                $("#lblVehicleRepairs_Maintenancetotal").val(_VehicleRepairs_Maintenance);
                $("#lblMonthly_Subscriptionstotal").val(_Monthly_Subscriptions);
                $("#lblITExpensestotal").val(_ITExpenses);
                $("#lblPostagetotal").val(_Postage);
                $("#lblTelephonetotal").val(_Telephone);
                $("#lblStaffAmenitiestotal").val(_StaffAmenities);
                $("#lblClientEntertainmenttotal").val(_ClientEntertainment);
                $("#lblMealstotal").val(_MealsTotal);
                $("#lblaccomdationtotal").val(_AccommodationTotal);
                $("#lbltotalExpense").val(_totalExpense);
            }
        });
        $("#CreateClaimBtn").click(function () {
            MainModelExpenseCliams.EmployeeName = $("#txtemployeeName").val();
            MainModelExpenseCliams.ExpenseDateOfClaim = $("#txtDateofClaim").val();
            MainModelExpenseCliams.Branch = $("#txtBranch").val();
            MainModelExpenseCliams.Approvedby = $("#txtApprovedby").val();
            MainModelExpenseCliams.CreditCardNo = $("#txtCreditCardNo").val();
            MainModelExpenseCliams.ExpenseClaimType = $("#txtExpenseClaimType").val();
            MainModelExpenseCliams.SharePointFileLocation = $("#txtInvoicesLocation").val();
            MainModelExpenseCliams.OtherTotal = _OtherTotal;
            MainModelExpenseCliams.TravelTotal = _TravelTotal;
            MainModelExpenseCliams.MealsTotal = _MealsTotal;
            MainModelExpenseCliams.AccommodationTotal = _AccommodationTotal;
            MainModelExpenseCliams.ToolsTotal = _ToolsTotal;
            MainModelExpenseCliams.WHTools_ConsumablesTotal = _WHTools_Consumables;
            MainModelExpenseCliams.VehicleRepairs_MaintenanceTotal = _VehicleRepairs_Maintenance;
            MainModelExpenseCliams.Monthly_SubscriptionsTotal = _Monthly_Subscriptions;
            MainModelExpenseCliams.ITExpensesTotal = _ITExpenses;
            MainModelExpenseCliams.PostageTotal = _Postage;
            MainModelExpenseCliams.TelephoneTotal = _Telephone;
            MainModelExpenseCliams.StaffAmenitiesTotal = _StaffAmenities;
            MainModelExpenseCliams.ClientEntertainmentTotal = _ClientEntertainment;
            MainModelExpenseCliams.ExpenseTotal = _totalExpense;
            var ErrorMessage = '';
            if (MainModelExpenseCliams.EmployeeName == '' || MainModelExpenseCliams.EmployeeName == -1) {
                ErrorMessage += 'EmployeeName is Required.\n ';
            }
            if (MainModelExpenseCliams.DateofClaim == '') {
                ErrorMessage += 'DateofClaim is Required. \n';
            }
            if (MainModelExpenseCliams.Branch == '' || MainModelExpenseCliams.EmployeeName == -1) {
                ErrorMessage += 'Branch is Required. \n';
            }
            //if (MainModelExpenseCliams.CreditCardNo == '') {
            //    ErrorMessage += 'CreditCardNo is Required. \n';
            //}
            if (MainModelExpenseCliams.ExpenseClaimType == '') {
                ErrorMessage += 'ExpenseClaimType is Required. \n';
            }
            if (MainModelExpenseCliams.Approvedby == '') {
                ErrorMessage += 'Approvedby is Required. \n';
            }

            if (MainModelExpenseCliams.SharePointFileLocation == '') {
                ErrorMessage += 'SharePoint Invoice Files Location is Required. \n';
            }
            if (MainModelExpenseCliams.CorporateCardExpenseClaimItems.length == 0) {
                ErrorMessage += 'At least One Expense ClaimItems is Required. \n';
            }
            if (ErrorMessage != '') {
                $.alert({
                    title: 'Validation Errors',
                    content: ErrorMessage,
                    // .css("color", "red"),
                });
                return false;
            }
            $.ajax({
                type: "POST",
                url: "./CreateExpenseClaimItemEntity",
                data: JSON.stringify(MainModelExpenseCliams),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    //   window.location.href = "./ExportTimesSheetToExcel?path=" + r.fileName;
                    //window.location.href = "./ExpenseClaims";
                    //   window.location.href = "./ExportTimesSheetToExcel?path=" + r.fileName;
                    $.alert({
                        title: 'ExpenseClaim Registered Successfuly!',
                        content: ''
                    });
                    window.location.href = "./ExpenseClaims";
                }
            });
        });

        // Find and remove selected table rows
        $("#delete-row").click(function () {
            $("table tbody").find('input[name="record"]').each(function () {
                if ($(this).is(":checked")) {
                    $(this).parents("tr").remove();
                }
            });
        });

        $(function () {
            var MainForm = $("#MainForm")
            if (MainForm.length) {
                MainForm.validate({
                    rules: {
                        Date: { required: true },
                        Supplier: { required: true },
                        Description: { required: true },
                        Branch: { required: true },
                        Project: { required: true }
                    },
                    messages: {
                        Date: { required: "Date is required" },
                        Supplier: { required: "Supplier is required" },
                        Description: { required: "Description is required" },
                        Branch: { required: "Branch is required" },
                        Project: { required: "Project is required" }
                    }
                })
            }
        });

        $(function () {
            var testForm = $("#testForm")
            if (testForm.length) {
                testForm.validate({
                    rules: {
                        InvoicesLocation: { required: true }
                    },
                    messages: {
                        InvoicesLocation: { required: "Invoices Location is required" }
                    }
                })
            }
        });
    });

    function CardHolderLoadDropDowns()
    {
        $.ajax({
               type: "GET",
               url: '@Url.Action("GetCardHolders", "CorporateExpenseClaimer")',
               contentType: "application/json; charset=utf-8",
             data: {},
               datatype: "json",
               success: function (data) {
                   var s = '<option value="-1">Select a CardHolders</option>';
                   for (var i = 0; i < data.length; i++) {
                       s += '<option value="' + data[i].Value + '">' + data[i].Value + '</option>';
               }
                   $("#txtemployeeName").html(s);
           }
          });
    }

    function ApprovedbyLoadDropDowns()
        {
            $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetCardHolders", "CorporateExpenseClaimer")',
                    contentType: "application/json; charset=utf-8",
                    data: {},
                    datatype: "json",
                    success: function (data) {
                        var s = '<option value="-1">Select a Approvedby</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].Value + '">' + data[i].Value + '</option>';
                    }
                        $("#txtApprovedby").html(s);
                }
                });
    }
    function GetProjectList()
        {
            $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetProjectList", "CorporateExpenseClaimer")',
                    contentType: "application/json; charset=utf-8",
                    data: {},
                    datatype: "json",
                    success: function (data) {
                        var s = '<option value="-1">Select a Project</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].Value + '">' + data[i].Value + '</option>';
                    }
                        $("#txtProject").html(s);
                }
            });
    }
</script>

<style>
    .form-group {
        margin-bottom: 2px;
    }

    .error {
        color: red;
        font-style: italic;
    }
</style>
