
@{
    ViewBag.Title = "Index";
}

<div class="col-md-12" style="padding-top:50px;">
    <div class="form-horizontal well" style="font-size:smaller; padding:0; margin-bottom:0px">
        <div class="form-group" style="margin-bottom:0">
            <div class="form-group-sm col-md-2 pull-right">
                <div class="col-md-12" style="margin-top:20px">
                    <img src="~/Images/CompanyLogo.jpg" style="height:30px; width:130px; float:right" />
                </div>
            </div>

            <div class="form-group-sm col-md-8 pull-right">
                <div class="col-md-12" style="text-align:center">
                    <h3 style="font-weight:600">CREDIT CARD EXPENSE REPORT</h3>
                </div>
            </div>

            <div class="form-group-sm col-md-2 pull-right">
                <div class="col-md-12">
                    @Html.Label("Branch:", htmlAttributes: new { @class = "control-label col-md-2", style = "margin-top:20px" })
                    <div class="col-md-8" style="margin-top:20px; padding-top:7px; padding-left:20px">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-left:0px; margin-right:0px">
    <div class="col-md-8" style="margin-top:10px">
        <div class="form-horizontal well" style="font-size:smaller; padding:0; margin-bottom:0px">
            <div class="form-group" style="margin-top:5px; margin-bottom:0px">
                <div class="form-group col-md-6">
                    @Html.Label("Employee Name:", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6" style="margin-top:7px;">
                        <input type="text" class="form-control form-control-sm" id="txtemployeeName" placeholder="">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Date of Claim:", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6" style="margin-top:7px">
                        <input type="date" class="form-control form-control-sm" id="" placeholder="">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Employee Signature:", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6" style="margin-top:7px">
                        <input type="text" class="form-control form-control-sm" id="" placeholder="">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Approved by:", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6" style="margin-top:7px">
                        <input type="text" class="form-control form-control-sm" id="" placeholder="">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Credit Card No:", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6" style="margin-top:7px">
                        <input type="text" class="form-control form-control-sm" id="" placeholder="">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.Label("Expense Claim Type:", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6" style="margin-top:7px">
                        <input type="text" class="form-control form-control-sm" id="" placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4" style="margin-top:10px">
        <div class="form-horizontal well" style="font-size:smaller; padding:0; margin-bottom:0px">
            <div class="form-group" style="margin-bottom:5px">
                <div class="form-group col-md-12" style="margin-bottom:8px">
                    @Html.Label("Expenses Summary", htmlAttributes: new { @class = "control-label col-md-12", style = "text-align:center; font-weight:800" })
                </div>
                <div class="form-group col-md-6" style="margin-bottom:8px">
                    @Html.Label("Travel:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6" style="margin-top:7px">

                    </div>
                </div>
                <div class="form-group col-md-6" style="margin-bottom:8px">
                    @Html.Label("Accommodation:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6" style="margin-top:7px">

                    </div>
                </div>
                <div class="form-group col-md-6" style="margin-bottom:8px">
                    @Html.Label("Meals:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6" style="margin-top:7px">

                    </div>
                </div>
                <div class="form-group col-md-6" style="margin-bottom:8px">
                    @Html.Label("Tools:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6" style="margin-top:7px">

                    </div>
                </div>
                <div class="form-group col-md-6" style="margin-bottom:8px">
                    @Html.Label("Other:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6" style="margin-top:7px">

                    </div>
                </div>
                <div class="form-group col-md-6" style="margin-bottom:8px">
                    @Html.Label("Total:", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6" style="margin-top:7px">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row well" style="margin-left:15px; margin-right:15px; margin-top:10px;margin-bottom:0">
    <form>
        <div class="form-group col-md-3">
            @Html.Label("Date:", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px" })
            <input class="form-control form-control-sm col-md-8" type="Date" id="txtDate" placeholder="Date">
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Supplier:", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px" })
            <input class="form-control form-control-sm col-md-8" type="text" id="txtSupplier" placeholder="Supplier">
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Description:", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px" })
            <input class="form-control form-control-sm col-md-8" type="text" id="txtDescription" placeholder="Description">
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Branch:", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px" })
            <input class="form-control form-control-sm col-md-8" type="text" id="txtBranch" placeholder="Branch">
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Project:", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px" })
            <input class="form-control form-control-sm col-md-8" type="text" id="txtProject" placeholder="Project">
        </div>
        <div class="form-group col-md-3">
            @Html.Label("PO Number:", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px" })
            <input class="form-control form-control-sm col-md-8" type="text" id="txtPONumber" placeholder="PO Number">
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Travel:", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px" })
            <input class="form-control form-control-sm col-md-8" type="text" id="txtTravel" placeholder="Travel">
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Acommodation:", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px" })
            <input class="form-control form-control-sm col-md-8" type="text" id="txtAcommodation" placeholder="Acommodation">
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Meals:", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px" })
            <input class="form-control form-control-sm col-md-8" type="text" id="txtMeals" placeholder="Meals">
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Tools:", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px" })
            <input class="form-control form-control-sm col-md-8" type="text" id="txtTools" placeholder="Tools">
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Other:", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px" })
            <input class="form-control form-control-sm col-md-8" type="text" id="txtOther" placeholder="Other">
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Total:", htmlAttributes: new { @class = "control-label col-md-4", style = "margin-top:5px" })
            <input class="form-control form-control-sm col-md-8" type="text" id="txtTotal" placeholder="Total">
        </div>
        <input type="button" id="add-row" class="btn btn-warning btn-sm pull-right" value="Add Row" style="margin-bottom:10px; margin-top:10px" />
    </form>
    <table id="CreditCardTable" class="table table-bordered table-hover table-sm table-responsive" style="font-size:smaller; font-weight:600">
        <thead style="background-color:orange; color: white">
            <tr>
                <th>Select</th>
                <th>Date</th>
                <th>Supplier</th>
                <th>Description</th>
                <th>Branch</th>
                <th>Project</th>
                <th>PO Number</th>
                <th>Travel</th>
                <th>Acommodation</th>
                <th>Meals</th>
                <th>Tools</th>
                <th>Other</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <button type="button" class="btn btn-warning btn-sm pull-right" id="delete-row">Delete Row</button>
</div>

<div class="row" style="margin-left:15px; margin-right:15px; margin-top:10px;margin-bottom:0">
    <div class="form-horizontal well" style="font-size:smaller; padding:5px; margin-bottom:0px">
        <div class="form-group" style="margin-bottom:0; padding-bottom:0">
            <div class="col-md-4">
                @Html.Label("Branch Manager:", htmlAttributes: new { @class = "control-label col-md-3", style = "text-align:left" })
                <div class="col-md-6" style="margin-top:5px">
                    <input type="text" class="form-control form-control-sm" id="" placeholder="">
                </div>
            </div>
            <div class="col-md-4">
                @Html.Label("Manager Signature (Email Approval Ok): ", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:left" })
                <div class="col-md-6" style="margin-top:5px">
                    <input type="text" class="form-control form-control-sm" id="" placeholder="">
                </div>
            </div>
            <div class="col-md-4 pull-right">
                <div class="col-md-12" style="margin-top:5px">
                    <button type="button" class="btn btn-warning btn-sm pull-right" id="CreateClaimBtn" style="font-size:16px;">Submit</button>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        
        var MainModelExpenseCliams = {};      
        MainModelExpenseCliams.CorporateCardExpenseClaimItems = new Array();
        $("#add-row").click(function () {
          
            var Date = $("#txtDate").val();
            var Supplier = $("#txtSupplier").val();
            var Description = $("#txtDescription").val();
            var Branch = $("#txtBranch").val();
            var Project = $("#txtProject").val();
            var PONumber = $("#txtPONumber").val();
            var Travel = $("#txtTravel").val();
            var Acommodation = $("#txtAcommodation").val();
            var Meals = $("#txtMeals").val();
            var Tools = $("#txtTools").val();
            var Other = $("#txtOther").val();
            var Total = $("#txtTotal").val();
            var markup = "<tr><td><input type='checkbox' name='record'></td><td>"
                + Date + "</td><td>"
                + Supplier + "</td><td>"
                + Description + "</td><td>"
                + Branch + "</td><td>"
                + Project + "</td><td>"
                + PONumber + "</td><td>"
                + Travel + "</td><td>"
                + Acommodation + "</td><td>"
                + Meals + "</td><td>"
                + Tools + "</td><td>"
                + Other + "</td><td>"
                + Total + "</td></tr>";
            $("table tbody").append(markup);
            var CliamLineItem = {};
            CliamLineItem.Date = Date;
            CliamLineItem.Supplier = Supplier;
            CliamLineItem.Description = Description;
            CliamLineItem.Branch = Branch;
            CliamLineItem.Project = Project;
            CliamLineItem.PONumber = Date;

            CliamLineItem.Date = PONumber;
            MainModelExpenseCliams.CorporateCardExpenseClaimItems.push(CliamLineItem);
        });

        $("#CreateClaimBtn").click(function () {

            MainModelExpenseCliams.EmployeeName = $("#txtemployeeName").val();                
            $.ajax({
                type: "POST",
                url: "./CreateExpenseClaimItemEntity",
                data: JSON.stringify(MainModelExpenseCliams),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                 //   window.location.href = "./ExportTimesSheetToExcel?path=" + r.fileName;
                }
            });
        });

        // Find and remove selected table rows
        $("#delete-row").click(function () {
            $("table tbody").find('input[name="record"]').each(function () {
                if ($(this).is(":checked")) {
                    $(this).parents("tr").remove();
                }
            });
        });
    });
</script>

<style>
    .form-group {
        margin-bottom: 2px;
    }
</style>