
@{
    ViewBag.Title = "Index";
}

<div class="col-md-12" style="padding-top:50px;">
    <div class="form-horizontal well" style="font-size:smaller; padding:0; margin-bottom:0px">
        <div class="form-group" style="margin-bottom:0">
            <div class="form-group-sm col-md-2 pull-right">
                <div class="col-md-12" style="margin-top:20px">
                    <img src="~/Images/CompanyLogo.jpg" style="height:50px; width:180px; float:right" />
                </div>
            </div>

            <div class="form-group-sm col-md-8 pull-right">
                <div class="col-md-12" style="text-align:center">
                    <h3 style="font-weight:600">CREDIT CARD EXPENSE REPORT</h3>
                </div>
            </div>

            <div class="form-group-sm col-md-2 pull-right">
                <div class="col-md-12">
                    @Html.Label("Branch:", htmlAttributes: new { @class = "control-label col-md-2", style = "margin-top:20px" })
                    <div class="col-md-8" style="margin-top:20px; padding-top:7px; padding-left:20px">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row" style="margin-left:0px; margin-right:0px">
    <div class="col-md-8" style="margin-top:10px">
        <div class="form-horizontal well" style="font-size:smaller; padding:0; margin-bottom:0px">
            <div class="form-group" style="margin-top:5px; margin-bottom:0px">
                <div class="form-group col-md-12">
                    @Html.Label("Employee Name:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3" style="margin-top:7px;">

                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.Label("Date of Claim:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3" style="margin-top:7px">

                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.Label("Employee Signature:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3" style="margin-top:7px">

                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.Label("Approved by:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3" style="margin-top:7px">

                    </div>
                </div>
                <div class="form-group col-md-12">
                    @Html.Label("Credit Card No:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3" style="margin-top:7px">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4" style="margin-top:10px">
        <div class="form-horizontal well" style="font-size:smaller; padding:0; margin-bottom:0px">
            <div class="form-group" style="margin-bottom:12px">
                <div class="form-group col-md-12" style="margin-bottom:2px">
                    @Html.Label("Expenses Summary", htmlAttributes: new { @class = "control-label col-md-12", style = "text-align:center; font-weight:800" })
                </div>
                <div class="form-group col-md-12" style="margin-bottom:2px">
                    @Html.Label("Travel", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6" style="margin-top:3px">

                    </div>
                </div>
                <div class="form-group col-md-12" style="margin-bottom:2px">
                    @Html.Label("Accommodation", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6" style="margin-top:3px">

                    </div>
                </div>
                <div class="form-group col-md-12" style="margin-bottom:2px">
                    @Html.Label("Meals ", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6" style="margin-top:3px">

                    </div>
                </div>
                <div class="form-group col-md-12" style="margin-bottom:2px">
                    @Html.Label("Tools", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6" style="margin-top:3px">

                    </div>
                </div>
                <div class="form-group col-md-12" style="margin-bottom:2px">
                    @Html.Label("Other", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6" style="margin-top:3px">

                    </div>
                </div>
                <div class="form-group col-md-12" style="margin-bottom:2px">
                    @Html.Label("Total", htmlAttributes: new { @class = "control-label col-md-6", style = "text-align:center" })
                    <div class="col-md-6" style="margin-top:3px">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row well" style="margin-left:15px; margin-right:15px; margin-top:10px;margin-bottom:0">
    <table class="table table-bordered table-hover table-sm table-responsive" style="font-size:smaller; font-weight:600">
        <thead style="background-color:orange">
            <tr>
                <th>Date</th>
                <th>Supplier</th>
                <th>Description</th>
                <th>Project/Branch</th>
                <th>PO Number</th>
                <th>Travel</th>
                <th>Acommodation</th>
                <th>Meals</th>
                <th>Tools</th>
                <th>Other</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row" style="margin-left:15px; margin-right:15px; margin-top:10px;margin-bottom:0">
    <div class="form-horizontal well" style="font-size:smaller; padding:5px; margin-bottom:0px">
        <div class="form-group" style="margin-bottom:0; padding-bottom:0">
            <div class="form-group col-md-12">
                @Html.Label("Branch Manager:", htmlAttributes: new { @class = "control-label col-md-2", style = "text-align:left" })
                <div class="col-md-2" style="margin-top:5px">

                </div>
            </div>
            <div class="form-group col-md-12">
                @Html.Label("Manager Signature (Email Approval Ok): ", htmlAttributes: new { @class = "control-label col-md-2", style = "text-align:left" })
                <div class="col-md-2" style="margin-top:5px">

                </div>
            </div>
        </div>
    </div>
</div>


